Law-digitalize-PoC/n8n/flows/archive/01-line-upload.json
{
  "name": "01 - LINE Upload Contract",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "line-upload",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-upload",
      "name": "LINE Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        320
      ],
      "webhookId": "line-upload-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.events[0].message.type }}",
              "rightValue": "file",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "switch-file",
      "name": "Is file?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        500,
        320
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api-data.line.me/v2/bot/message/{{ $json.body.events[0].message.id }}/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "id": "download-file",
      "name": "Download from LINE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "27fef0b4-9224-4a77-9741-c4f8e3d0aede",
          "name": "LINE Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "extract",
      "name": "Extract text from file",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1000,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Chunk the extracted text. ~1500 chars per chunk, 200 overlap.\nconst MAX = 1500;\nconst OVERLAP = 200;\nconst text = ($input.first().json.text || '').toString();\nif (!text.trim()) return [{ json: { empty: true, chunks: [] } }];\nconst chunks = [];\nlet i = 0, idx = 0;\nwhile (i < text.length) {\n  chunks.push({ chunk_index: idx, content: text.slice(i, i + MAX) });\n  if (i + MAX >= text.length) break;\n  i += MAX - OVERLAP;\n  idx++;\n}\nreturn [{ json: { empty: false, chunk_count: chunks.length, chunks } }];\n"
      },
      "id": "chunk",
      "name": "Chunk text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_URL || 'http://host.docker.internal:11434' }}/api/embed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.OLLAMA_EMBED_MODEL || 'bge-m3' }}\",\n  \"input\": {{ JSON.stringify($json.chunks.map(c => c.content)) }}\n}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "embed",
      "name": "Embed all chunks (Ollama bge-m3)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Combine: file metadata + chunk embeddings into rows ready to insert.\nconst embedResp = $input.first().json;  // { embeddings: [[v1],[v2],...], ... }\nconst vecs = embedResp.embeddings || embedResp;  // support both /api/embed and /api/embeddings\nconst chunkInfo = $('Chunk text').first().json;\nconst download = $('Download from LINE').first().binary.data;\nconst evt = $('LINE Webhook').first().json.body.events[0];\n\nconst rows = chunkInfo.chunks.map((c, i) => ({\n  chunk_index: c.chunk_index,\n  content: c.content,\n  embedding: '[' + vecs[i].map(Number).join(',') + ']'\n}));\n\nreturn [{\n  json: {\n    file_name: download.fileName,\n    file_type: (download.fileName || '').split('.').pop().toLowerCase(),\n    size_bytes: download.fileSize,\n    line_user_id: evt.source.userId,\n    line_group_id: evt.source.groupId || null,\n    line_message_id: evt.message.id,\n    chunk_count: rows.length,\n    rows\n  }\n}];\n"
      },
      "id": "combine",
      "name": "Combine metadata + vectors",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO contracts (line_user_id, line_group_id, line_message_id, file_name, file_type, size_bytes, chunk_count, status) VALUES ('{{ $json.line_user_id }}', {{ $json.line_group_id ? \"'\" + $json.line_group_id + \"'\" : \"NULL\" }}, '{{ $json.line_message_id }}', '{{ $json.file_name.replace(/'/g, \"''\") }}', '{{ $json.file_type }}', {{ $json.size_bytes }}, {{ $json.chunk_count }}, 'ready') RETURNING id, doc_no",
        "options": {}
      },
      "id": "insert-contract",
      "name": "Insert contract row",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2040,
        200
      ],
      "credentials": {
        "127.0.0.1": {
          "id": "a70ff3bd-3863-49c2-b2d4-e74d97d77c01",
          "name": "PG Contracts - localhost:5432"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build a multi-row INSERT for all chunks.\nconst contractId = $('Insert contract row').first().json.id;\nconst meta = $('Combine metadata + vectors').first().json;\nconst values = meta.rows.map(r =>\n  `( '${contractId}', ${r.chunk_index}, $tag$${r.content}$tag$, ${r.content.length}, '${r.embedding}'::vector )`\n).join(',\\n');\nreturn [{\n  json: {\n    sql: `INSERT INTO contract_chunks (contract_id, chunk_index, content, token_count, embedding) VALUES ${values}`\n  }\n}];\n"
      },
      "id": "build-sql",
      "name": "Build chunk INSERT SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2300,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "id": "insert-chunks",
      "name": "Insert chunks",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2560,
        200
      ],
      "credentials": {
        "127.0.0.1": {
          "id": "a70ff3bd-3863-49c2-b2d4-e74d97d77c01",
          "name": "PG Contracts - localhost:5432"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LINE_CHANNEL_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\": \"{{ $('LINE Webhook').item.json.body.events[0].replyToken }}\",\n  \"messages\": [ { \"type\": \"text\", \"text\": \"บันทึก '{{ $('Combine metadata + vectors').item.json.file_name }}' เรียบร้อย (chunks: {{ $('Combine metadata + vectors').item.json.chunk_count }})\" } ]\n}",
        "options": {}
      },
      "id": "reply-ok",
      "name": "Reply Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2820,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LINE_CHANNEL_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\": \"{{ $('LINE Webhook').item.json.body.events[0].replyToken }}\",\n  \"messages\": [ { \"type\": \"text\", \"text\": \"เกิดข้อผิดพลาด: {{ $json.error || 'unknown' }}\" } ]\n}",
        "options": {}
      },
      "id": "reply-err",
      "name": "Reply Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2820,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LINE_CHANNEL_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\": \"{{ $('LINE Webhook').item.json.body.events[0].replyToken }}\",\n  \"messages\": [ { \"type\": \"text\", \"text\": \"กรุณาส่งเป็นไฟล์ PDF / DOCX เพื่อบันทึกสัญญา หรือพิมพ์คำถามเพื่อค้นหา\" } ]\n}",
        "options": {}
      },
      "id": "reply-help",
      "name": "Reply Non-File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://127.0.0.1:5678/webhook/docs-registry' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filename\": {{ JSON.stringify($('Download from LINE').item.json.fileName || 'unknown') }},\n  \"file_type\": {{ JSON.stringify(($('Download from LINE').item.json.fileName || '').split('.').pop().toLowerCase()) }},\n  \"status\": \"extracting\",\n  \"line_user_id\": {{ JSON.stringify($('LINE Webhook').item.json.body.events[0].source.userId || null) }},\n  \"line_message_id\": {{ JSON.stringify($('LINE Webhook').item.json.body.events[0].message.id || null) }},\n  \"source\": \"line-flow01\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "reg-start",
      "name": "Register Start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        100
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://127.0.0.1:5678/webhook/docs-registry' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"doc_no\": {{ JSON.stringify($json.doc_no) }},\n  \"filename\": {{ JSON.stringify($json.file_name) }},\n  \"file_type\": {{ JSON.stringify($json.file_type) }},\n  \"status\": \"ready\",\n  \"chunk_count\": {{ $json.chunk_count || 0 }},\n  \"line_user_id\": {{ JSON.stringify($json.line_user_id || null) }},\n  \"line_message_id\": {{ JSON.stringify($json.line_message_id || null) }},\n  \"source\": \"line-flow01\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "reg-done",
      "name": "Register Done",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2700,
        200
      ],
      "continueOnFail": true
    }
  ],
  "connections": {
    "LINE Webhook": {
      "main": [
        [
          {
            "node": "Is file?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is file?": {
      "main": [
        [
          {
            "node": "Download from LINE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply Non-File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download from LINE": {
      "main": [
        [
          {
            "node": "Register Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text from file": {
      "main": [
        [
          {
            "node": "Chunk text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk text": {
      "main": [
        [
          {
            "node": "Embed all chunks (Ollama bge-m3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embed all chunks (Ollama bge-m3)": {
      "main": [
        [
          {
            "node": "Combine metadata + vectors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine metadata + vectors": {
      "main": [
        [
          {
            "node": "Insert contract row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert contract row": {
      "main": [
        [
          {
            "node": "Build chunk INSERT SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build chunk INSERT SQL": {
      "main": [
        [
          {
            "node": "Insert chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert chunks": {
      "main": [
        [
          {
            "node": "Register Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Start": {
      "main": [
        [
          {
            "node": "Extract text from file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Done": {
      "main": [
        [
          {
            "node": "Reply Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "line"
    },
    {
      "name": "upload"
    }
  ],
  "active": false,
  "versionId": "1",
  "id": "01-line-upload"
}