infra/backups/migration-20260621/flows.zip
[{"updatedAt":"2026-06-21T09:42:46.438Z","createdAt":"2026-06-18T04:19:01.736Z","id":"TL2qrOygnWKY69xe","name":"03 - Docs Hub","description":"Docs Hub: LINE pipeline + registry + search + AI agent","active":true,"isArchived":false,"nodes":[{"id":"code-prep-reg","name":"Prep Registry Row","type":"n8n-nodes-base.code","position":[2704,1504],"parameters":{"jsCode":"// Normalize - Smart Router wrapped body in _body\nconst wrapped = $input.first().json;\nconst body = wrapped._body || wrapped.body || wrapped || {};\nconst docNo = (body.doc_no || '').toString().trim() || null;\nconst fileName = (body.filename || body.file_name || 'unknown').toString();\nconst fileType = (body.file_type || 'unknown').toString();\nconst category = body.category || null;\nconst status = body.status || 'registered';\nconst lineUserId = body.line_user_id || null;\nconst lineMessageId = body.line_message_id || null;\nconst lineGroupId = body.line_group_id || null;\nconst storageBucket = body.storage_bucket || null;\nconst storagePath = body.storage_path || null;\nconst sizeBytes = (body.size_bytes === '' || body.size_bytes === undefined) ? null : Number(body.size_bytes);\nconst chunkCount = (body.chunk_count === '' || body.chunk_count === undefined) ? 0 : Number(body.chunk_count);\nconst source = body.source || 'api';\nconst metadata = body.metadata ? JSON.stringify(body.metadata) : null;\nreturn [{ json: {\n  doc_no: docNo, file_name: fileName, file_type: fileType,\n  category, status, line_user_id: lineUserId, line_message_id: lineMessageId,\n  line_group_id: lineGroupId, storage_bucket: storageBucket,\n  storage_path: storagePath, size_bytes: sizeBytes, chunk_count: chunkCount,\n  source, metadata, needs_generate: !docNo\n}}];\n"},"typeVersion":2},{"id":"pg-gen-seq","name":"PG: Get Next Seq","type":"n8n-nodes-base.postgres","position":[3152,1408],"parameters":{"query":"SELECT 'DOC-' || to_char(now() AT TIME ZONE 'Asia/Bangkok', 'YYYYMMDD') || '-' || lpad(next_doc_seq()::text, 3, '0') AS doc_no","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"a70ff3bd-3863-49c2-b2d4-e74d97d77c01","name":"PG Contracts - localhost:5432"}},"typeVersion":2.4},{"id":"pg-insert-doc","name":"PG: Insert/Update Document","type":"n8n-nodes-base.postgres","position":[3376,1504],"parameters":{"query":"INSERT INTO contracts (doc_no, file_name, file_type, category, status, line_user_id, line_group_id, line_message_id, storage_bucket, storage_path, size_bytes, chunk_count, source, metadata) VALUES ('{{ ($('Prep Registry Row').item.json.needs_generate ? $('PG: Get Next Seq').item.json.doc_no : $('Prep Registry Row').item.json.doc_no).replace(/'/g, \"''\") }}', '{{ $('Prep Registry Row').item.json.file_name.replace(/'/g, \"''\") }}', '{{ $('Prep Registry Row').item.json.file_type.replace(/'/g, \"''\") }}', {{ $('Prep Registry Row').item.json.category ? \"'\" + $('Prep Registry Row').item.json.category.replace(/'/g, \"''\") + \"'\" : \"NULL\" }}, '{{ $('Prep Registry Row').item.json.status.replace(/'/g, \"''\") }}', {{ $('Prep Registry Row').item.json.line_user_id ? \"'\" + $('Prep Registry Row').item.json.line_user_id.replace(/'/g, \"''\") + \"'\" : \"NULL\" }}, {{ $('Prep Registry Row').item.json.line_group_id ? \"'\" + $('Prep Registry Row').item.json.line_group_id.replace(/'/g, \"''\") + \"'\" : \"NULL\" }}, {{ $('Prep Registry Row').item.json.line_message_id ? \"'\" + $('Prep Registry Row').item.json.line_message_id.replace(/'/g, \"''\") + \"'\" : \"NULL\" }}, {{ $('Prep Registry Row').item.json.storage_bucket ? \"'\" + $('Prep Registry Row').item.json.storage_bucket.replace(/'/g, \"''\") + \"'\" : \"NULL\" }}, {{ $('Prep Registry Row').item.json.storage_path ? \"'\" + $('Prep Registry Row').item.json.storage_path.replace(/'/g, \"''\") + \"'\" : \"NULL\" }}, {{ $('Prep Registry Row').item.json.size_bytes === null ? \"NULL\" : $('Prep Registry Row').item.json.size_bytes }}, {{ $('Prep Registry Row').item.json.chunk_count }}, '{{ $('Prep Registry Row').item.json.source.replace(/'/g, \"''\") }}', {{ $('Prep Registry Row').item.json.metadata ? \"'\" + $('Prep Registry Row').item.json.metadata.replace(/'/g, \"''\") + \"'::jsonb\" : \"NULL\" }}) ON CONFLICT (doc_no) DO UPDATE SET file_name = EXCLUDED.file_name, file_type = EXCLUDED.file_type, category = EXCLUDED.category, status = EXCLUDED.status, updated_at = now(), metadata = COALESCE(EXCLUDED.metadata, contracts.metadata) RETURNING id, doc_no, file_name, file_type, status, uploaded_at;","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"a70ff3bd-3863-49c2-b2d4-e74d97d77c01","name":"PG Contracts - localhost:5432"}},"typeVersion":2.4},{"id":"resp-reg","name":"Respond Registry","type":"n8n-nodes-base.respondToWebhook","position":[3600,1504],"parameters":{"options":{},"respondWith":"json","responseBody":"={{ ({ ok: true, doc: $('PG: Insert/Update Document').first().json, generated: $('Prep Registry Row').item.json.needs_generate }) }}"},"typeVersion":1},{"id":"code-parse-stats","name":"Parse Stats Request","type":"n8n-nodes-base.code","position":[2704,1888],"parameters":{"jsCode":"// Parse stats request - Smart Router wrapped body in _body\nconst wrapped = $input.first().json;\nconst body = wrapped._body || wrapped.body || wrapped;\nconst message = (body.message || body.text || '').toString().toLowerCase();\nconst keywords = ['สรุปผล', 'สถิติ', 'stats', 'summary', 'รายงาน', 'list', 'ทั้งหมด', 'all'];\nconst matched = keywords.find(k => message.includes(k.toLowerCase()));\nconst isStats = !!matched || body.mode === 'stats';\nconst docNo = body.doc_no || null;\nconst days = parseInt(String(body.days != null ? body.days : '7'), 10);\nreturn [{ json: {\n  is_stats: isStats,\n  doc_no: docNo,\n  days: isNaN(days) ? 7 : days\n}}];\n"},"typeVersion":2},{"id":"sw-stats","name":"Is stats?","type":"n8n-nodes-base.switch","position":[2928,1888],"parameters":{"rules":{"values":[{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.is_stats }}","rightValue":true}]}}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"not_stats"}},"typeVersion":3.2},{"id":"pg-stats","name":"PG: Aggregate Stats","type":"n8n-nodes-base.postgres","position":[3152,1792],"parameters":{"query":"WITH params AS (SELECT ({{ $('Parse Stats Request').item.json.days }})::int AS days), base AS (  SELECT * FROM contracts, params   WHERE uploaded_at >= now() - (params.days || ' days')::interval), agg AS (  SELECT     (SELECT COUNT(*) FROM base) AS total,     (SELECT COUNT(*) FROM base WHERE status='ready') AS ready,     (SELECT COUNT(*) FROM base WHERE status='pending') AS pending,     (SELECT COUNT(*) FROM base WHERE status='failed') AS failed,     (SELECT COUNT(*) FROM base WHERE status='registered') AS registered,     (SELECT COUNT(*) FROM base WHERE uploaded_at::date = CURRENT_DATE) AS today_count ) SELECT row_to_json(agg) AS summary, (SELECT json_agg(t) FROM (SELECT file_type, COUNT(*) AS cnt FROM base GROUP BY file_type ORDER BY cnt DESC LIMIT 5) t) AS by_type, (SELECT json_agg(t) FROM (SELECT category, COUNT(*) AS cnt FROM base WHERE category IS NOT NULL GROUP BY category ORDER BY cnt DESC LIMIT 5) t) AS by_category, (SELECT json_agg(t) FROM (SELECT doc_no, file_name, file_type, status, uploaded_at FROM base ORDER BY uploaded_at DESC LIMIT 5) t) AS recent FROM agg;","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"a70ff3bd-3863-49c2-b2d4-e74d97d77c01","name":"PG Contracts - localhost:5432"}},"typeVersion":2.4},{"id":"code-format-stats","name":"Format Stats Text","type":"n8n-nodes-base.code","position":[3376,1792],"parameters":{"jsCode":"const r = ($('PG: Aggregate Stats').first().json || {});\nconst summary = r.summary || {};\nconst days = $('Parse Stats Request').item.json.days;\nconst lines = [];\nlines.push(`📊 สรุปเอกสาร (ย้อนหลัง ${days} วัน)`);\nlines.push(`• ทั้งหมด: ${summary.total ?? 0} ฉบับ`);\nlines.push(`• วันนี้: ${summary.today_count ?? 0} ฉบับ`);\nlines.push(`• registered: ${summary.registered ?? 0} | ready: ${summary.ready ?? 0} | pending: ${summary.pending ?? 0} | failed: ${summary.failed ?? 0}`);\nconst byType = r.by_type || [];\nif (byType.length) {\n  lines.push('');\n  lines.push('— แยกตามประเภท —');\n  for (const t of byType) lines.push(`  • ${t.file_type || 'unknown'}: ${t.cnt}`);\n}\nconst byCat = r.by_category || [];\nif (byCat.length) {\n  lines.push('');\n  lines.push('— แยกตามหมวด —');\n  for (const c of byCat) lines.push(`  • ${c.category || 'ไม่ระบุ'}: ${c.cnt}`);\n}\nconst recent = r.recent || [];\nif (recent.length) {\n  lines.push('');\n  lines.push('— 5 ฉบับล่าสุด —');\n  for (const d of recent) {\n    const dt = new Date(d.uploaded_at).toLocaleString('th-TH', { timeZone: 'Asia/Bangkok' });\n    lines.push(`  • ${d.doc_no} | ${d.file_name} [${d.status}] @ ${dt}`);\n  }\n}\nreturn [{ json: { summary_text: lines.join('\\n'), raw: r } }];\n"},"typeVersion":2},{"id":"resp-stats","name":"Respond Stats","type":"n8n-nodes-base.respondToWebhook","position":[3600,1792],"parameters":{"options":{},"respondWith":"json","responseBody":"={{ ({ ok: true, summary_text: $('Format Stats Text').first().json.summary_text, raw: $('Format Stats Text').first().json.raw, days: $('Parse Stats Request').item.json.days }) }}"},"typeVersion":1},{"id":"resp-other","name":"Respond Not Stats","type":"n8n-nodes-base.respondToWebhook","position":[3600,1984],"parameters":{"options":{},"respondWith":"json","responseBody":"={{ ({ ok: false, is_stats: false, message: 'ไม่พบคำสั่งสถิติ — ส่ง message ที่มีคำว่า สรุปผล/สถิติ/stats/summary/รายงาน/list/all หรือระบุ mode=stats' }) }}"},"typeVersion":1},{"id":"sw-needs-gen","name":"Needs generate?","type":"n8n-nodes-base.switch","position":[2928,1488],"parameters":{"rules":{"values":[{"outputKey":"generate","conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.needs_generate }}","rightValue":true}]},"renameOutput":true},{"outputKey":"passthrough","conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"boolean","operation":"false","singleValue":true},"leftValue":"={{ $json.needs_generate }}","rightValue":false}]},"renameOutput":true}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"no_generate"}},"typeVersion":3.2},{"id":"code-passthrough","name":"Passthrough (use provided doc_no)","type":"n8n-nodes-base.code","position":[3152,1600],"parameters":{"jsCode":"// Passthrough: re-emit Prep Registry Row's payload as the resolved doc_no\nreturn [{ json: { ...$('Prep Registry Row').first().json, needs_generate: false, doc_no: $('Prep Registry Row').first().json.doc_no } }];\n"},"typeVersion":2},{"id":"code-parse-search","name":"Parse Search","type":"n8n-nodes-base.code","position":[1808,2272],"parameters":{"jsCode":"// Parse - Smart Router wrapped query in _query, body in _body\nconst wrapped = $input.first().json;\nconst q = wrapped._query || wrapped.query || {};\nconst body = wrapped._body || wrapped.body || wrapped || {};\n// Read query/q from either URL query OR body\nconst query = (q.q || body.q || '').toString().trim();\n// Read mode from either URL query OR body\nlet mode = (q.mode || body.mode || '').toString();\nif (!mode) mode = query ? 'vector' : 'list';\nif (mode !== 'list' && mode !== 'vector') mode = 'list';\nconst limit = parseInt(q.limit || body.limit || '20', 10);\nconst safeLimit = isNaN(limit) ? 20 : limit;\nreturn [{ json: { \n  query, mode, limit: safeLimit,\n  list_params: [query, safeLimit],\n  vector_params: [[], safeLimit]\n}}];\n"},"typeVersion":2},{"id":"sw-mode","name":"Mode Switch","type":"n8n-nodes-base.switch","position":[2032,2272],"parameters":{"rules":{"values":[{"outputKey":"list","conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.mode }}","rightValue":"list"}]},"renameOutput":true},{"outputKey":"vector","conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.mode }}","rightValue":"vector"}]},"renameOutput":true}]},"options":{}},"typeVersion":3.2},{"id":"pg-list","name":"PG: List Docs","type":"n8n-nodes-base.postgres","position":[2704,2176],"parameters":{"query":"SELECT doc_no, file_name, file_type, category, status, source, (SELECT COUNT(*) FROM contract_chunks WHERE contract_id = c.id) AS chunk_count, uploaded_at FROM contracts c WHERE (($1::text IS NULL OR $1 = '') OR LOWER(file_name) LIKE '%' || LOWER($1) || '%' OR LOWER(COALESCE(category,'')) LIKE '%' || LOWER($1) || '%') ORDER BY uploaded_at DESC LIMIT $2::int","options":{"queryReplacement":"={{ $json.list_params }}"},"operation":"executeQuery"},"credentials":{"postgres":{"id":"a70ff3bd-3863-49c2-b2d4-e74d97d77c01","name":"PG Contracts - localhost:5432"}},"typeVersion":2.4},{"id":"embed-query","name":"Embed Query","type":"n8n-nodes-base.httpRequest","position":[2256,2368],"parameters":{"url":"={{ ($env.OLLAMA_URL || 'http://127.0.0.1:11434') }}/api/embed","method":"POST","options":{"timeout":30000,"response":{"response":{"neverError":true}}},"jsonBody":"={\n  \"model\": \"bge-m3\",\n  \"input\": {{ JSON.stringify($('Parse Search').item.json.query) }}\n}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]}},"typeVersion":4.2},{"id":"pg-vector","name":"PG: Vector Search","type":"n8n-nodes-base.postgres","position":[2704,2368],"parameters":{"query":"SELECT c.doc_no, c.file_name, ch.chunk_index, ch.content, 1 - (ch.embedding <=> $1::vector) AS similarity FROM contract_chunks ch JOIN contracts c ON c.id = ch.contract_id WHERE ch.embedding IS NOT NULL ORDER BY ch.embedding <=> $1::vector LIMIT $2::int","options":{"queryReplacement":"={{ $json.vector_params }}"},"operation":"executeQuery"},"credentials":{"postgres":{"id":"a70ff3bd-3863-49c2-b2d4-e74d97d77c01","name":"PG Contracts - localhost:5432"}},"typeVersion":2.4},{"id":"code-render-html","name":"Render HTML","type":"n8n-nodes-base.code","position":[3600,2272],"parameters":{"jsCode":"\n// === Executive Summary Renderer ===\nconst items = $input.all();\nconst mode = $('Parse Search').item.json.mode;\nconst query = $('Parse Search').item.json.query;\nconst limit = $('Parse Search').item.json.limit || 20;\n\nlet docs = [], results = [], stats = {}, daily = [], recent = [], byStatus = [];\n\ntry {\n  if (mode === 'vector') {\n    const v = $('PG: Vector Search').all() || [];\n    results = v.map(i => i.json);\n  } else {\n    const l = $('PG: List Docs').all() || [];\n    docs = l.map(i => i.json);\n  }\n  // Daily Activity now returns { stats: {total,ready,...}, daily: [{day,cnt}] }\n  const dailyRows = ($('PG: Daily Activity').all() || []).map(i => i.json);\n  if (dailyRows.length) {\n    const first = dailyRows[0];\n    stats = first.stats || {};\n    daily = first.daily || [];\n  } else {\n    stats = { total: 0, ready: 0, registered: 0, pending: 0, failed: 0, chunks: 0 };\n    daily = [];\n  }\n  recent = ($('PG: Recent Activity').all() || []).map(i => i.json);\n  byStatus = ($('PG: By Status').all() || []).map(i => i.json);\n} catch (e) {\n  stats = { total: 0, ready: 0, registered: 0, pending: 0, failed: 0, chunks: 0 };\n  daily = [];\n}\n\nconst escapeHtml = (s) => String(s == null ? '' : s).replace(/[&<>\"']/g, c => ({'&':'&amp;','<':'&lt;','>':'&gt;','\"':'&quot;',\"'\":'&#39;'}[c]));\nconst fmtNum = (n) => n == null ? '?' : Number(n).toLocaleString('th-TH');\nconst fmtPct = (n) => n == null ? '?' : (Number(n) * 100).toFixed(0) + '%';\n\n// ===== Executive Summary KPIs =====\nconst kpiCards = `\n<div class=\"kpi-row\">\n  <div class=\"kpi-card kpi-primary\">\n    <div class=\"kpi-label\">📄 เอกสารทั้งหมด</div>\n    <div class=\"kpi-value\">${fmtNum(stats.total)}</div>\n    <div class=\"kpi-sub\">${fmtNum(stats.chunks)} chunks</div>\n  </div>\n  <div class=\"kpi-card kpi-success\">\n    <div class=\"kpi-label\">✅ พร้อมใช้งาน</div>\n    <div class=\"kpi-value\">${fmtNum(stats.ready)}</div>\n    <div class=\"kpi-sub\">${fmtPct(stats.total ? stats.ready / stats.total : 0)} ของทั้งหมด</div>\n  </div>\n  <div class=\"kpi-card kpi-warn\">\n    <div class=\"kpi-label\">⏳ กำลังประมวลผล</div>\n    <div class=\"kpi-value\">${fmtNum((Number(stats.registered)||0) + (Number(stats.pending)||0))}</div>\n    <div class=\"kpi-sub\">registered: ${fmtNum(stats.registered)} · pending: ${fmtNum(stats.pending)}</div>\n  </div>\n  <div class=\"kpi-card kpi-danger\">\n    <div class=\"kpi-label\">❌ ล้มเหลว</div>\n    <div class=\"kpi-value\">${fmtNum(stats.failed)}</div>\n    <div class=\"kpi-sub\">${fmtPct(stats.total ? stats.failed / stats.total : 0)} ของทั้งหมด</div>\n  </div>\n</div>`;\n\n// ===== Daily Activity Chart =====\nlet chartHtml = '<div class=\"empty-mini\">ยังไม่มีข้อมูล</div>';\nif (daily && daily.length) {\n  const maxCnt = Math.max(...daily.map(d => Number(d.cnt)||0), 1);\n  const bars = daily.map(d => {\n    const h = Math.max(2, Math.round((Number(d.cnt)||0) / maxCnt * 80));\n    const dd = String(d.day || '').slice(5);\n    return `<div class=\"chart-bar-col\">\n      <div class=\"chart-bar\" style=\"height:${h}px\" title=\"${escapeHtml(d.day)}: ${d.cnt}\"></div>\n      <div class=\"chart-label\">${dd}</div>\n    </div>`;\n  }).join('');\n  chartHtml = `<div class=\"chart\">${bars}</div>\n<div class=\"chart-legend\">📊 กิจกรรม 14 วันล่าสุด (เอกสารต่อวัน)</div>`;\n}\n\n// ===== Recent Activity Timeline =====\nlet recentHtml = '<div class=\"empty-mini\">ยังไม่มีข้อมูล</div>';\nif (recent && recent.length) {\n  recentHtml = recent.slice(0, 8).map(d => {\n    const dt = new Date(d.uploaded_at);\n    const dtStr = dt.toLocaleString('th-TH', { timeZone: 'Asia/Bangkok', day:'2-digit', month:'short', hour:'2-digit', minute:'2-digit' });\n    const statusClass = `status-${d.status || 'unknown'}`;\n    return `<div class=\"timeline-item\">\n      <div class=\"timeline-dot ${statusClass}\"></div>\n      <div class=\"timeline-content\">\n        <div class=\"timeline-title\">${escapeHtml(d.file_name)}</div>\n        <div class=\"timeline-meta\">\n          <span class=\"doc-no-mini\">${escapeHtml(d.doc_no)}</span>\n          <span>${dtStr}</span>\n          <span class=\"doc-status ${statusClass}\">${escapeHtml(d.status)}</span>\n        </div>\n      </div>\n    </div>`;\n  }).join('');\n}\n\n// ===== Status Breakdown =====\nlet byStatusHtml = '<div class=\"empty-mini\">ยังไม่มีข้อมูล</div>';\nif (byStatus && byStatus.length) {\n  byStatusHtml = `<table class=\"status-table\">` +\n    byStatus.map(r => `<tr><td><span class=\"status-dot status-${escapeHtml(r.status || 'unknown')}\"></span>${escapeHtml(r.status)}</td><td class=\"num\">${fmtNum(r.cnt)}</td></tr>`).join('') +\n    `</table>`;\n}\n\n// ===== Search Results =====\nfunction renderListPage(docs) {\n  if (!docs.length) return '<div class=\"empty\">ไม่พบเอกสาร</div>';\n  return docs.map(d => {\n    const uploaded = (d.uploaded_at || '').slice(0, 19).replace('T', ' ');\n    return `\n<div class=\"doc-item\">\n  <span class=\"doc-no\">${escapeHtml(d.doc_no)}</span>\n  <span class=\"doc-name\">${escapeHtml(d.file_name)}</span>\n  <div class=\"doc-meta\">\n    <span>${escapeHtml(d.file_type)}</span>\n    <span>${escapeHtml(d.category || '—')}</span>\n    <span>${escapeHtml(uploaded)}</span>\n    <span class=\"doc-status status-${escapeHtml(d.status || 'unknown')}\">${escapeHtml(d.status)}</span>\n  </div>\n</div>`;\n  }).join('');\n}\n\nfunction renderVectorResults(results, query) {\n  if (!results.length) return '<div class=\"empty\">ไม่พบผลลัพธ์</div>';\n  return results.map(r => {\n    const sim = ((r.similarity || 0) * 100).toFixed(1);\n    let content = (r.content || '').slice(0, 500);\n    if (query) {\n      query.split(/\\s+/).filter(w => w.length > 1).forEach(w => {\n        content = content.replace(new RegExp(w, 'gi'), m => '<span class=\"search-q\">' + m + '</span>');\n      });\n    }\n    return `\n<div class=\"result-card\">\n  <div class=\"result-meta\">\n    <span class=\"result-similarity\">📊 ${sim}%</span>\n    <span>${escapeHtml(r.doc_no)}</span>\n    <span>${escapeHtml(r.file_name)}</span>\n    <span>chunk #${escapeHtml(r.chunk_index)}</span>\n  </div>\n  <div class=\"result-content\">${content}${(r.content || '').length > 500 ? '...' : ''}</div>\n</div>`;\n  }).join('');\n}\n\n// ===== Tabs =====\nconst listTabActive = mode === 'list' ? 'active' : '';\nconst vectorTabActive = mode === 'vector' ? 'active' : '';\nconst listLink = '/webhook/docs-search?mode=list';\nconst vectorLink = '/webhook/docs-search?mode=vector&q=' + encodeURIComponent(query || '');\nconst isOverview = !query && mode === 'list';\n\nconst html = `<!DOCTYPE html>\n<html lang=\"th\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>${isOverview ? 'Executive Summary' : 'Document Search'} — Law Firm</title>\n<style>\n* { box-sizing: border-box; margin: 0; padding: 0; }\nbody { font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", \"Noto Sans Thai\", sans-serif; background: #f5f7fa; color: #2c3e50; padding: 24px; }\n.container { max-width: 1280px; margin: 0 auto; }\nheader { background: linear-gradient(135deg, #1a3a5c 0%, #2c5e8a 100%); color: white; padding: 24px 32px; border-radius: 12px; margin-bottom: 20px; box-shadow: 0 4px 12px rgba(26,58,92,0.15); }\nheader h1 { font-size: 26px; margin-bottom: 6px; }\n.subtitle { opacity: 0.85; font-size: 14px; }\n.tabs { display: flex; gap: 4px; margin-bottom: 16px; background: #e1e8ed; padding: 4px; border-radius: 8px; }\n.tab { padding: 10px 24px; cursor: pointer; background: transparent; border: none; border-radius: 6px; font-size: 14px; font-weight: 600; color: #5a6c7d; text-decoration: none; transition: all 0.15s; display: inline-block; }\n.tab:hover { background: rgba(255,255,255,0.5); }\n.tab.active { background: white; color: #1a3a5c; box-shadow: 0 2px 4px rgba(0,0,0,0.06); }\n.search-box { background: white; padding: 16px 20px; border-radius: 8px; margin-bottom: 16px; box-shadow: 0 2px 6px rgba(0,0,0,0.04); }\n.search-form { display: flex; gap: 8px; }\ninput[type=\"text\"] { flex: 1; padding: 10px 14px; border: 1px solid #cbd5e0; border-radius: 6px; font-size: 14px; }\nbutton { padding: 10px 20px; background: #1a3a5c; color: white; border: none; border-radius: 6px; font-weight: 600; cursor: pointer; font-size: 14px; }\nbutton:hover { background: #122a44; }\n.kpi-row { display: grid; grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); gap: 16px; margin-bottom: 20px; }\n.kpi-card { background: white; padding: 20px 24px; border-radius: 10px; box-shadow: 0 2px 6px rgba(0,0,0,0.04); border-left: 4px solid #cbd5e0; }\n.kpi-primary { border-left-color: #1a3a5c; }\n.kpi-success { border-left-color: #0a6b3e; }\n.kpi-warn { border-left-color: #c47a00; }\n.kpi-danger { border-left-color: #a01818; }\n.kpi-label { font-size: 12px; text-transform: uppercase; letter-spacing: 0.5px; color: #6b7785; font-weight: 600; margin-bottom: 6px; }\n.kpi-value { font-size: 32px; font-weight: 700; color: #1a3a5c; line-height: 1; margin-bottom: 4px; }\n.kpi-sub { font-size: 12px; color: #6b7785; }\n.overview-row { display: grid; grid-template-columns: 2fr 1fr; gap: 20px; margin-bottom: 20px; }\n.panel { background: white; border-radius: 10px; box-shadow: 0 2px 6px rgba(0,0,0,0.04); padding: 20px 24px; }\n.panel-title { font-size: 14px; font-weight: 700; color: #1a3a5c; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 16px; padding-bottom: 12px; border-bottom: 1px solid #ecf0f3; }\n.chart { display: flex; align-items: flex-end; gap: 6px; height: 100px; padding: 8px 0; }\n.chart-bar-col { display: flex; flex-direction: column; align-items: center; flex: 1; min-width: 0; }\n.chart-bar { background: linear-gradient(to top, #2c5e8a, #4a8ec8); width: 100%; border-radius: 3px 3px 0 0; min-height: 2px; transition: all 0.2s; }\n.chart-bar:hover { background: linear-gradient(to top, #1a3a5c, #2c5e8a); }\n.chart-label { font-size: 10px; color: #6b7785; margin-top: 4px; }\n.chart-legend { font-size: 12px; color: #6b7785; margin-top: 12px; }\n.timeline-item { display: flex; gap: 12px; padding: 10px 0; border-bottom: 1px solid #ecf0f3; }\n.timeline-item:last-child { border-bottom: none; }\n.timeline-dot { width: 10px; height: 10px; border-radius: 50%; margin-top: 6px; flex-shrink: 0; }\n.timeline-dot.status-ready { background: #0a6b3e; }\n.timeline-dot.status-registered { background: #c47a00; }\n.timeline-dot.status-pending { background: #c47a00; }\n.timeline-dot.status-failed { background: #a01818; }\n.timeline-content { flex: 1; min-width: 0; }\n.timeline-title { font-weight: 500; font-size: 13px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }\n.timeline-meta { display: flex; gap: 10px; font-size: 11px; color: #6b7785; margin-top: 2px; flex-wrap: wrap; }\n.doc-no-mini { background: #e8f0fe; color: #1a3a5c; padding: 1px 6px; border-radius: 3px; font-family: monospace; font-size: 10px; }\n.status-table { width: 100%; border-collapse: collapse; }\n.status-table td { padding: 8px 0; border-bottom: 1px solid #ecf0f3; font-size: 13px; }\n.status-table td.num { text-align: right; font-weight: 600; color: #1a3a5c; }\n.status-table tr:last-child td { border-bottom: none; }\n.status-dot { display: inline-block; width: 8px; height: 8px; border-radius: 50%; margin-right: 8px; }\n.status-dot.status-ready { background: #0a6b3e; }\n.status-dot.status-registered { background: #c47a00; }\n.status-dot.status-pending { background: #c47a00; }\n.status-dot.status-failed { background: #a01818; }\n.empty-mini { color: #6b7785; font-size: 13px; padding: 20px; text-align: center; }\n.docs-list { background: white; border-radius: 10px; box-shadow: 0 2px 6px rgba(0,0,0,0.04); overflow: hidden; }\n.doc-item { padding: 14px 20px; border-bottom: 1px solid #ecf0f3; display: flex; align-items: center; gap: 16px; flex-wrap: wrap; }\n.doc-item:last-child { border-bottom: none; }\n.doc-no { background: #e8f0fe; color: #1a3a5c; padding: 4px 10px; border-radius: 4px; font-family: monospace; font-size: 12px; font-weight: 600; }\n.doc-name { flex: 1; font-weight: 500; min-width: 200px; }\n.doc-meta { color: #6b7785; font-size: 12px; display: flex; gap: 12px; flex-wrap: wrap; align-items: center; }\n.doc-status { padding: 3px 10px; border-radius: 12px; font-size: 11px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.3px; }\n.status-ready { background: #d4f5e1; color: #0a6b3e; }\n.status-registered { background: #fff4d4; color: #8a6708; }\n.status-pending { background: #fde7d4; color: #9c4a0a; }\n.status-failed { background: #fdd4d4; color: #a01818; }\n.empty { padding: 40px; text-align: center; color: #6b7785; }\n.result-card { background: white; padding: 16px 20px; border-radius: 8px; margin-bottom: 12px; box-shadow: 0 2px 6px rgba(0,0,0,0.04); }\n.result-meta { display: flex; gap: 12px; font-size: 12px; color: #6b7785; margin-bottom: 8px; flex-wrap: wrap; }\n.result-similarity { background: #e8f0fe; color: #1a3a5c; padding: 2px 8px; border-radius: 4px; font-weight: 600; }\n.result-content { font-size: 14px; line-height: 1.6; color: #2c3e50; white-space: pre-wrap; word-wrap: break-word; }\n.search-q { background: #fff8c5; padding: 2px 6px; border-radius: 3px; font-weight: 600; }\n.section-title { font-size: 18px; font-weight: 700; color: #1a3a5c; margin: 24px 0 12px 0; }\n.footer { text-align: center; padding: 20px; color: #6b7785; font-size: 12px; margin-top: 24px; border-top: 1px solid #ecf0f3; }\n@media (max-width: 768px) { .overview-row { grid-template-columns: 1fr; } }\n</style>\n</head>\n<body>\n<div class=\"container\">\n<header>\n  <h1>${isOverview ? '📊 Executive Summary' : '📋 Document Registry'}</h1>\n  <div class=\"subtitle\">Law Firm — Document Pipeline & Search</div>\n</header>\n\n<div class=\"tabs\">\n  <a class=\"tab ${listTabActive}\" href=\"${listLink}\">📋 ${isOverview ? 'Overview' : 'List'}</a>\n  <a class=\"tab ${vectorTabActive}\" href=\"${vectorLink}\">🔍 Vector Search</a>\n</div>\n\n<div class=\"search-box\">\n  <form class=\"search-form\" method=\"get\" action=\"/webhook/docs-search\">\n    <input type=\"hidden\" name=\"mode\" value=\"${mode}\">\n    <input type=\"text\" name=\"q\" value=\"${escapeHtml(query)}\" placeholder=\"${mode === 'vector' ? 'ค้นหาด้วย semantic search... (e.g. สัญญาเช่า ผิดนัด)' : 'กรองรายการ (filename, category)...'}\" autofocus>\n    <button type=\"submit\">${mode === 'vector' ? '🔍 Search' : '🔎 Filter'}</button>\n  </form>\n</div>\n\n${isOverview ? kpiCards : ''}\n\n${isOverview ? `\n<div class=\"overview-row\">\n  <div class=\"panel\">\n    <div class=\"panel-title\">📈 กิจกรรมการอัปโหลด</div>\n    ${chartHtml}\n  </div>\n  <div class=\"panel\">\n    <div class=\"panel-title\">📌 สถานะเอกสาร</div>\n    ${byStatusHtml}\n  </div>\n</div>\n\n<div class=\"overview-row\">\n  <div class=\"panel\">\n    <div class=\"panel-title\">🕐 เอกสารล่าสุด</div>\n    ${recentHtml}\n  </div>\n  <div class=\"panel\">\n    <div class=\"panel-title\">🔗 Quick Links</div>\n    <div style=\"display: flex; flex-direction: column; gap: 10px;\">\n      <a href=\"/webhook/docs-search?mode=list\" style=\"padding: 12px 16px; background: #f5f7fa; border-radius: 6px; text-decoration: none; color: #1a3a5c; font-weight: 500;\">📋 ดูเอกสารทั้งหมด</a>\n      <a href=\"/webhook/docs-search?mode=vector\" style=\"padding: 12px 16px; background: #f5f7fa; border-radius: 6px; text-decoration: none; color: #1a3a5c; font-weight: 500;\">🔍 Vector Search</a>\n      <a href=\"/webhook/docs-stats\" style=\"padding: 12px 16px; background: #f5f7fa; border-radius: 6px; text-decoration: none; color: #1a3a5c; font-weight: 500;\">📊 Stats JSON API</a>\n      <code style=\"padding: 12px 16px; background: #fff8c5; border-radius: 6px; font-size: 11px; color: #5a4a08; word-break: break-all;\">POST /webhook/docs-registry<br>{filename, file_type, ...}</code>\n    </div>\n  </div>\n</div>\n` : ''}\n\n<div class=\"section-title\">${mode === 'vector' ? '🔍 ผลการค้นหา (Semantic)' : isOverview ? '📄 เอกสารทั้งหมด' : '🔎 ผลการกรอง'}</div>\n${mode === 'vector' ? renderVectorResults(results, query) : '<div class=\"docs-list\">' + renderListPage(docs) + '</div>'}\n\n<div class=\"footer\">\n  Generated at ${new Date().toLocaleString('th-TH', { timeZone: 'Asia/Bangkok' })} • n8n workflow: 02 - Document Registry & Stats • Global URLs: /webhook/docs-search · /webhook/docs-stats · /webhook/docs-registry\n</div>\n</div>\n</body>\n</html>`;\n\nreturn [{ json: { html: html, contentType: 'text/html' } }];\n"},"typeVersion":2},{"id":"resp-html","name":"Respond HTML","type":"n8n-nodes-base.respondToWebhook","position":[240,2688],"parameters":{"options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/html; charset=utf-8"}]}},"respondWith":"text","responseBody":"={{ $('Render HTML').first().json.html }}"},"typeVersion":1},{"id":"code-build-vec-params","name":"Build Vector Params","type":"n8n-nodes-base.code","position":[2480,2368],"parameters":{"jsCode":"// Build vector_params for n8n pg node - array of raw values\nconst embeddings = $json.embeddings || ($json.embedding ? [$json.embedding] : []);\nconst vec = embeddings[0] || [];\nconst limit = $('Parse Search').item.json.limit || 10;\n// Format: '[0.1,0.2,...]' as string for pg vector literal\nconst vectorStr = '[' + vec.map(Number).join(',') + ']';\nreturn [{ json: { ...$json, vector_params: [vectorStr, limit] } }];\n"},"typeVersion":2},{"id":"pg-daily","name":"PG: Daily Activity","type":"n8n-nodes-base.postgres","position":[2928,2272],"parameters":{"query":"SELECT (SELECT row_to_json(s) FROM (SELECT (SELECT COUNT(*) FROM contracts) AS total, (SELECT COUNT(*) FROM contracts WHERE status='ready') AS ready, (SELECT COUNT(*) FROM contracts WHERE status='registered') AS registered, (SELECT COUNT(*) FROM contracts WHERE status='pending') AS pending, (SELECT COUNT(*) FROM contracts WHERE status='failed') AS failed, (SELECT COUNT(*) FROM contract_chunks) AS chunks) s) AS stats, (SELECT COALESCE(json_agg(daily), '[]'::json) FROM (  SELECT to_char(\"uploaded_at\" AT TIME ZONE 'Asia/Bangkok', 'YYYY-MM-DD') AS day, COUNT(*)::int AS cnt   FROM contracts   WHERE \"uploaded_at\" >= (now() - interval '14 days')   GROUP BY 1 ORDER BY 1) daily) AS daily","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"a70ff3bd-3863-49c2-b2d4-e74d97d77c01","name":"PG Contracts - localhost:5432"}},"typeVersion":2.4},{"id":"pg-recent","name":"PG: Recent Activity","type":"n8n-nodes-base.postgres","position":[3152,2272],"parameters":{"query":"SELECT doc_no, file_name, file_type, status, uploaded_at FROM contracts ORDER BY uploaded_at DESC LIMIT 8","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"a70ff3bd-3863-49c2-b2d4-e74d97d77c01","name":"PG Contracts - localhost:5432"}},"typeVersion":2.4},{"id":"pg-by-status","name":"PG: By Status","type":"n8n-nodes-base.postgres","position":[3376,2272],"parameters":{"query":"SELECT status, COUNT(*)::int AS cnt FROM contracts WHERE status IS NOT NULL GROUP BY status ORDER BY status","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"a70ff3bd-3863-49c2-b2d4-e74d97d77c01","name":"PG Contracts - localhost:5432"}},"typeVersion":2.4},{"id":"line-download-file","name":"LINE Download from LINE","type":"n8n-nodes-base.httpRequest","position":[1136,432],"parameters":{"url":"=https://api-data.line.me/v2/bot/message/{{ $json._event.message.id }}/content","options":{"response":{"response":{"responseFormat":"file"}}},"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth"},"credentials":{"httpHeaderAuth":{"id":"27fef0b4-9224-4a77-9741-c4f8e3d0aede","name":"LINE Bearer Auth"}},"typeVersion":4.2},{"id":"line-extract","name":"LINE Extract text from file","type":"n8n-nodes-base.extractFromFile","position":[1584,432],"parameters":{"options":{},"operation":"pdf"},"typeVersion":1},{"id":"line-chunk","name":"LINE Chunk text","type":"n8n-nodes-base.code","position":[2032,432],"parameters":{"jsCode":"// Chunk the extracted text. Empty text = empty chunks → caller rolls back the file.\nconst MAX = 1500;\nconst OVERLAP = 200;\nconst text = ($('LINE Extract text from file').first().json.text || '').toString();\n\nif (!text.trim()) {\n  return [{ json: { empty: true, chunk_count: 0, chunks: [] } }];\n}\n\nconst chunks = [];\nlet i = 0, idx = 0;\nwhile (i < text.length) {\n  chunks.push({ chunk_index: idx, content: text.slice(i, i + MAX) });\n  if (i + MAX >= text.length) break;\n  i += MAX - OVERLAP;\n  idx++;\n}\nreturn [{ json: { empty: false, chunk_count: chunks.length, chunks } }];\n"},"typeVersion":2},{"id":"line-embed","name":"LINE Embed all chunks (Ollama bge-m3)","type":"n8n-nodes-base.httpRequest","position":[2256,432],"parameters":{"url":"={{ $env.OLLAMA_URL || 'http://127.0.0.1:11434' }}/api/embed","method":"POST","options":{"timeout":180000},"jsonBody":"={\n  \"model\": \"{{ $env.OLLAMA_EMBED_MODEL || 'bge-m3' }}\",\n  \"input\": {{ JSON.stringify($json.chunks.map(c => c.content)) }}\n}","sendBody":true,"sendHeaders":true,"specifyBody":"json","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]}},"credentials":{"httpHeaderAuth":{"id":"27fef0b4-9224-4a77-9741-c4f8e3d0aede","name":"LINE Bearer Auth"}},"typeVersion":4.2},{"id":"line-combine","name":"LINE Combine metadata + vectors","type":"n8n-nodes-base.code","position":[2480,432],"parameters":{"jsCode":"// Combine: file metadata + chunk embeddings into rows ready to insert.\n// Use explicit $() to fetch from each upstream — $input.first() picks whichever\n// runs first which is brittle when Decode and Embed both feed in.\nconst embedResp = $('LINE Embed all chunks (Ollama bge-m3)').first().json;\nconst vecs = embedResp.embeddings || embedResp;\nconst chunkInfo = $('LINE Chunk text').first().json;\nconst sm = $('Smart Router').first().json;\nconst evt = sm._event || {};\nconst downloadMeta = sm._downloadResult || {};\n\n// Pull file_data_b64 from Decode (preferred) — scan $input.all() as fallback\nlet fileDataB64 = null, fileMime = null, fileName = null, fileSize = null;\nconst decodeOut = $('LINE Decode & Prepare Binary').first();\nif (decodeOut && decodeOut.json) {\n  fileDataB64 = decodeOut.json.file_data_b64 || null;\n  fileMime = decodeOut.json.file_mime || null;\n  fileName = decodeOut.json.file_name || null;\n  fileSize = decodeOut.json.file_size || null;\n}\nif (!fileDataB64) {\n  for (const it of $input.all()) {\n    if (it.json && it.json.file_data_b64) {\n      fileDataB64 = it.json.file_data_b64;\n      fileMime = it.json.file_mime || null;\n      fileName = it.json.file_name || null;\n      fileSize = it.json.file_size || null;\n      break;\n    }\n  }\n}\n\nconst chunks = chunkInfo.chunks || [];\nconst rows = chunks.map((c, i) => ({\n  chunk_index: c.chunk_index,\n  content: c.content,\n  embedding: vecs[i] ? ('[' + vecs[i].map(Number).join(',') + ']') : null\n}));\n\nreturn [{\n  json: {\n    file_name: fileName || downloadMeta.fileName || evt.message?.fileName || 'unknown',\n    file_type: ((fileName || downloadMeta.fileName || evt.message?.fileName || '').split('.').pop() || '').toLowerCase(),\n    size_bytes: fileSize || downloadMeta.fileSize || evt.message?.fileSize || null,\n    line_user_id: evt.source?.userId || null,\n    line_group_id: evt.source?.groupId || null,\n    line_message_id: evt.message?.id || null,\n    chunk_count: rows.length,\n    file_data_b64: fileDataB64,\n    file_mime: fileMime,\n    rows\n  }\n}];\n"},"typeVersion":2},{"id":"line-insert-contract","name":"LINE Insert contract row","type":"n8n-nodes-base.postgres","position":[2704,432],"parameters":{"query":"UPDATE contracts SET chunk_count = $2::int, status = 'ready' WHERE id = $1::uuid RETURNING id, doc_no","options":{"queryReplacement":"={{ [$('LINE Register Start').first().json.id, $json.chunk_count || 0] }}"},"operation":"executeQuery"},"credentials":{"postgres":{"id":"a70ff3bd-3863-49c2-b2d4-e74d97d77c01","name":"PG Contracts - localhost:5432"}},"typeVersion":2.4},{"id":"line-build-sql","name":"LINE Build chunk INSERT SQL","type":"n8n-nodes-base.code","position":[2928,432],"parameters":{"jsCode":"// Build a multi-row INSERT for all chunks. Empty chunks → SELECT 1 (no-op).\nconst contractId = $('LINE Insert contract row').first().json.id;\nconst meta = $('LINE Combine metadata + vectors').first().json;\n\nif (!meta.rows || meta.rows.length === 0) {\n  // Scanned PDF / no text — Postgres gets a no-op\n  return [{ json: { sql: 'SELECT 1', no_chunks: true, contract_id: contractId } }];\n}\n\nconst escape = (s) => String(s).replace(/'/g, \"''\");\nconst values = meta.rows.map(r =>\n  `( '${contractId}', ${r.chunk_index}, $tag$${escape(r.content)}$tag$, ${r.content.length}, '${r.embedding}'::vector )`\n).join(',\\n');\nreturn [{\n  json: {\n    sql: `INSERT INTO contract_chunks (contract_id, chunk_index, content, token_count, embedding) VALUES ${values}`,\n    no_chunks: false,\n    contract_id: contractId\n  }\n}];\n"},"typeVersion":2},{"id":"line-insert-chunks","name":"LINE Insert chunks","type":"n8n-nodes-base.postgres","position":[3152,432],"parameters":{"query":"{{ $json.sql }}","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"a70ff3bd-3863-49c2-b2d4-e74d97d77c01","name":"PG Contracts - localhost:5432"}},"typeVersion":2.4},{"id":"line-reply-ok","name":"LINE Reply Success","type":"n8n-nodes-base.httpRequest","position":[3600,336],"parameters":{"url":"https://api.line.me/v2/bot/message/push","method":"POST","options":{},"jsonBody":"={\n  \"to\": {{ JSON.stringify($('Smart Router').first().json._event.source.userId) }},\n  \"messages\": [{ \"type\": \"text\", \"text\": \"บันทึก '{{ $('LINE Combine metadata + vectors').item.json.file_name }}' เรียบร้อย (chunks: {{ $('LINE Combine metadata + vectors').item.json.chunk_count }})\" }]\n}","sendBody":true,"sendHeaders":true,"specifyBody":"json","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]}},"credentials":{"httpHeaderAuth":{"id":"27fef0b4-9224-4a77-9741-c4f8e3d0aede","name":"LINE Bearer Auth"}},"typeVersion":4.2},{"id":"line-reply-err","name":"LINE Reply Error","type":"n8n-nodes-base.httpRequest","position":[3600,528],"parameters":{"url":"https://api.line.me/v2/bot/message/push","method":"POST","options":{},"jsonBody":"={\n  \"to\": {{ JSON.stringify($('Smart Router').first().json._event.source.userId) }},\n  \"messages\": [{ \"type\": \"text\", \"text\": \"เกิดข้อผิดพลาด: {{ $json.error || 'unknown' }}\" }]\n}","sendBody":true,"sendHeaders":true,"specifyBody":"json","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]}},"credentials":{"httpHeaderAuth":{"id":"27fef0b4-9224-4a77-9741-c4f8e3d0aede","name":"LINE Bearer Auth"}},"typeVersion":4.2},{"id":"line-reg-start-pg","name":"LINE Register Start","type":"n8n-nodes-base.postgres","position":[1808,432],"parameters":{"query":"INSERT INTO contracts (doc_no, line_user_id, line_group_id, line_message_id, file_name, file_type, size_bytes, status, source, file_mime, file_data) VALUES (next_doc_seq(), NULLIF($1::text, '')::text, NULLIF($2::text, '')::text, NULLIF($3::text, '')::text, $4::text, $5::text, $6::bigint, 'processing', 'line', NULLIF($7::text, '')::text, decode($8::text, 'base64')) RETURNING id, doc_no","options":{"queryReplacement":"={{ [$('LINE Decode & Prepare Binary').first().json.line_user_id || '', $('LINE Decode & Prepare Binary').first().json.line_group_id || '', $('LINE Decode & Prepare Binary').first().json.line_message_id || '', $('LINE Decode & Prepare Binary').first().json.file_name || '', $('LINE Decode & Prepare Binary').first().json.file_type || '', $('LINE Decode & Prepare Binary').first().json.file_size || 0, $('LINE Decode & Prepare Binary').first().json.file_mime || '', $('LINE Decode & Prepare Binary').first().json.file_data_b64 || ''] }}"},"operation":"executeQuery"},"credentials":{"postgres":{"id":"a70ff3bd-3863-49c2-b2d4-e74d97d77c01","name":"PG Contracts - localhost:5432"}},"typeVersion":2.4,"continueOnFail":true},{"id":"wh-docs","name":"Docs Webhook","type":"n8n-nodes-base.webhook","position":[240,1696],"webhookId":"docs-webhook","parameters":{"path":"docs","options":{},"httpMethod":"POST","responseMode":"responseNode"},"typeVersion":2},{"id":"code-smart-router","name":"Smart Router","type":"n8n-nodes-base.code","position":[464,1696],"parameters":{"jsCode":"// Smart Router: detect request type\nconst req = $input.first().json;\nconst body = req.body || req || {};\nconst headers = req.headers || {};\nconst query = req.query || {};\n\nconst isLineSignature = headers['x-line-signature'] !== undefined ||\n  (Array.isArray(body.events) && body.events.length > 0);\n\nconst messageText = (body.message || body.text || '').toString().toLowerCase();\nconst statsKeywords = ['สรุปผล', 'สถิติ', 'stats', 'summary', 'รายงาน', 'list', 'ทั้งหมด', 'all'];\nconst isStats = !!statsKeywords.find(k => messageText.includes(k.toLowerCase())) || body.mode === 'stats';\n\nconst isRegistry = body.filename !== undefined || body.file_name !== undefined;\n\n// Routing priority:\n// 1. LINE events (highest)\n// 2. Registry (filename present)\n// 3. Stats (keyword or mode=stats)\n// 4. Search HTML (default - including mode=vector and mode=list)\nlet route = 'search_html';\nif (isLineSignature) route = 'line_event';\nelse if (isRegistry) route = 'registry_insert';\nelse if (isStats) route = 'stats_text';\n\nconst result = {\n  _route: route,\n  _body: body,\n  _events: body.events || [],\n  _query: query,\n  _mode: body.mode || 'list',\n  _q: body.q || '',\n  _days: body.days || 7,\n  _headers: headers\n};\nif (isLineSignature && body.events && body.events.length > 0) {\n  result._event = body.events[0];\n  result._replyToken = body.events[0].replyToken;\n}\nreturn [{ json: result }];\n"},"typeVersion":2},{"id":"sw-route","name":"Route Switch","type":"n8n-nodes-base.switch","position":[688,1648],"parameters":{"rules":{"values":[{"outputKey":"line","conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json._route }}","rightValue":"line_event"}]},"renameOutput":true},{"outputKey":"registry","conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json._route }}","rightValue":"registry_insert"}]},"renameOutput":true},{"outputKey":"stats","conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json._route }}","rightValue":"stats_text"}]},"renameOutput":true},{"outputKey":"search","conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json._route }}","rightValue":"search_html"}]},"renameOutput":true}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"unknown"}},"typeVersion":3.2},{"id":"sw-is-file","name":"LINE: Is file?","type":"n8n-nodes-base.switch","position":[912,704],"parameters":{"rules":{"values":[{"outputKey":"is_file","conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json._event.message.type }}","rightValue":"file"}]},"renameOutput":true}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"not_file"}},"typeVersion":3.2},{"id":"line-not-file","name":"LINE: Reply Non-File","type":"n8n-nodes-base.httpRequest","position":[3600,2464],"parameters":{"url":"https://api.line.me/v2/bot/message/reply","method":"POST","options":{"timeout":15000},"jsonBody":"={\n  \"replyToken\": {{ JSON.stringify($('Smart Router').first().json._replyToken) }},\n  \"messages\": [{ \"type\": \"text\", \"text\": \"ส่งไฟล์ PDF/DOCX/TXT มาวิเคราะห์สัญญาได้เลย หรือพิมพ์คำถามเกี่ยวกับสัญญาได้เลย\" }]\n}","sendBody":true,"sendHeaders":true,"specifyBody":"json","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]}},"credentials":{"httpHeaderAuth":{"id":"27fef0b4-9224-4a77-9741-c4f8e3d0aede","name":"LINE Bearer Auth"}},"typeVersion":4.2},{"id":"resp-docs","name":"Respond Docs","type":"n8n-nodes-base.respondToWebhook","position":[4048,1520],"parameters":{"options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"={{ $('Format Response').first().json.contentType }}"}]}},"respondWith":"text","responseBody":"={{ $('Format Response').first().json.body }}"},"typeVersion":1},{"id":"code-format-resp","name":"Format Response","type":"n8n-nodes-base.code","position":[3824,1520],"parameters":{"jsCode":"// Pick response based on route\nconst route = $('Smart Router').first().json._route || 'search_html';\nconst replyToken = $('Smart Router').first().json._replyToken;\nlet body = '';\nlet contentType = 'application/json; charset=utf-8';\nif (route === 'registry_insert') {\n  const r = $('Respond Registry').first().json || {};\n  body = JSON.stringify(r);\n} else if (route === 'stats_text') {\n  const r = $('Respond Stats').first().json || $('Respond Not Stats').first().json || { ok: false };\n  body = JSON.stringify(r);\n} else if (route === 'line_event') {\n  if (replyToken) {\n    // Real LINE event - just ack\n    body = JSON.stringify({ ok: true, route: 'line_event', events: $('Smart Router').first().json._events.length });\n  } else {\n    // Test mode - no replyToken. Return the AI agent decision so tester can verify routing.\n    const aiResp = $('Parse AI Response').first().json || {};\n    body = JSON.stringify({\n      ok: true,\n      mode: 'test',\n      route: 'line_event',\n      _route: aiResp._route || null,\n      _text: aiResp._text || null,\n      _query: aiResp._query || null,\n      _filter: aiResp._filter || null,\n      _tool_call_id: aiResp._tool_call_id || null\n    });\n  }\n} else {\n  body = ($('Render HTML').first().json || {}).html || '<h1>Error</h1>';\n  contentType = 'text/html; charset=utf-8';\n}\nreturn [{ json: { body, contentType } }];\n"},"typeVersion":2},{"id":"ollama-agent","name":"AI Agent (Ollama)","type":"n8n-nodes-base.httpRequest","position":[2256,992],"parameters":{"url":"={{ $env.OLLAMA_URL || 'http://127.0.0.1:11434' }}/api/chat","method":"POST","options":{"timeout":180000,"response":{"response":{"neverError":true}}},"jsonBody":"={\n  \"model\": \"{{ $env.OLLAMA_AGENT_MODEL || 'qwen3.6:35b-a3b-q4_K_M' }}\",\n  \"stream\": false,\n  \"messages\": {{ JSON.stringify([\n    {role: 'system', content: 'คุณคือผู้ช่วย AI ของ Law Firm (Phuket Law Firm)\\n\\nตอบเป็นภาษาไทยเสมอ กระชับ ไม่เกิน 3-4 บรรทัด\\n\\n**เลือก tool ที่เหมาะสมที่สุด 1 ตัว ตาม intent:**\\n\\n1. `search_documents(query, limit=5)` — เมื่อ user ต้องการ ค้นหา/หา/ค้น/สืบค้น เอกสารที่เกี่ยวกับ เนื้อหา/หัวข้อ/keyword เฉพาะ (เช่น \\\"หาสัญญาเช่า\\\", \\\"ค้นหนี้สิน\\\", \\\"มีสัญญาเกี่ยวกับที่ดินมั้ย\\\")\\n\\n2. `list_documents(filter=\\\"\\\", limit=10)` — เมื่อ user ถาม จำนวน/กี่ฉบับ/list/ทั้งหมด/อันไหนบ้าง โดยไม่ระบุหัวข้อเฉพาะ (เช่น \\\"มี contract กี่ฉบับ list มาให้หน่อย\\\", \\\"ทั้งหมดมีอะไรบ้าง\\\", \\\"มีเอกสารอะไรบ้าง\\\")\\n\\n3. `get_stats()` — เมื่อ user ถาม สรุป/ภาพรวม/สถิติ/สถานะ/จัดกลุ่ม (เช่น \\\"สรุปผล\\\", \\\"ภาพรวมเอกสาร\\\", \\\"มีกี่หมวดหมู่\\\")\\n\\n4. ไม่ต้องใช้ tool — เมื่อ user ทักทาย/ถามทั่วไป/ถามเกี่ยวกับบริษัท\\n\\n**ตัวอย่าง intent → tool:**\\n- \\\"หาสัญญาเช่า\\\" → search_documents(query=\\\"สัญญาเช่า\\\")\\n- \\\"มี contract กี่ฉบับ\\\" → list_documents\\n- \\\"list มาให้หน่อย\\\" → list_documents\\n- \\\"ทั้งหมดมีอะไรบ้าง\\\" → list_documents\\n- \\\"สรุปผลหน่อย\\\" → get_stats\\n- \\\"ภาพรวม\\\" → get_stats\\n- \\\"สวัสดี\\\" → text reply\\n- \\\"ช่วยได้อะไรบ้าง\\\" → text reply อธิบาย capabilities\\n'},\n    {role: 'user', content: $('Smart Router').first().json._event.message.text || 'สวัสดี'}\n  ]) }},\n  \"tools\": {{ JSON.stringify([\n    {\n      type: 'function',\n      function: {\n        name: 'search_documents',\n        description: 'Search contracts by semantic similarity (vector search). Use when user asks about content/topic/keyword.',\n        parameters: {\n          type: 'object',\n          properties: {\n            query: {type: 'string', description: 'Search query in Thai'},\n            limit: {type: 'integer', default: 5, description: 'Max results 1-20'}\n          },\n          required: ['query']\n        }\n      }\n    },\n    {\n      type: 'function',\n      function: {\n        name: 'list_documents',\n        description: 'List all contract documents in the registry. Returns metadata: doc_no, file_name, category, status, chunk_count, uploaded_at. Use when user asks for count, list, total, or all documents without specific topic.',\n        parameters: {\n          type: 'object',\n          properties: {\n            filter: {type: 'string', default: '', description: 'Optional filter by file_name or category (substring match)'},\n            limit: {type: 'integer', default: 10, description: 'Max docs to return 1-50'}\n          }\n        }\n      }\n    },\n    {\n      type: 'function',\n      function: {\n        name: 'get_stats',\n        description: 'Get statistics summary of all contracts: total count, breakdown by category and status. Use when user asks for summary, overview, stats, status breakdown.',\n        parameters: {\n          type: 'object',\n          properties: {}\n        }\n      }\n    }\n  ]) }}\n}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]}},"typeVersion":4.2},{"id":"code-parse-agent","name":"Parse AI Response","type":"n8n-nodes-base.code","position":[2480,992],"parameters":{"jsCode":"// Parse Ollama response - robust text fallback using string matching\nconst resp = $('AI Agent (Ollama)').first().json;\nconst msg = resp.message || {};\nlet toolCalls = msg.tool_calls || [];\nconst content = (msg.content || '').trim();\nconst thinking = (msg.thinking || '').trim();\nconst allText = content + ' ' + thinking;\n\n// FALLBACK: detect tool call from text using simple string matching\nif (toolCalls.length === 0 && content) {\n  let detectedTool = null;\n  if (content.includes('list_documents') || allText.includes('list_documents')) {\n    detectedTool = 'list_documents';\n  } else if (content.includes('search_documents') || allText.includes('search_documents')) {\n    detectedTool = 'search_documents';\n  } else if (content.includes('get_stats') || allText.includes('get_stats')) {\n    detectedTool = 'get_stats';\n  }\n  \n  if (detectedTool) {\n    // Try to extract args from \"(...)\" \n    let args = {};\n    const parenMatch = content.match(new RegExp(detectedTool + '\\\\s*\\\\(([^)]*)\\\\)'));\n    if (parenMatch) {\n      const argsStr = parenMatch[1];\n      // Match filter=\"...\" or query=\"...\" or limit=N\n      const stringArg = argsStr.match(/(?:filter|query)\\\\s*=\\\\s*\"([^\"]*)\"/);\n      if (stringArg) {\n        if (detectedTool === 'search_documents') args.query = stringArg[1];\n        else args.filter = stringArg[1];\n      }\n      const intArg = argsStr.match(/limit\\\\s*=\\\\s*(\\\\d+)/);\n      if (intArg) args.limit = parseInt(intArg[1]);\n    }\n    toolCalls = [{\n      id: 'fallback-' + Date.now(),\n      function: { name: detectedTool, arguments: args }\n    }];\n  }\n}\n\nif (toolCalls.length > 0) {\n  const tc = toolCalls[0];\n  const toolName = tc.function.name;\n  const args = typeof tc.function.arguments === 'string'\n    ? (tc.function.arguments.trim() ? JSON.parse(tc.function.arguments) : {})\n    : (tc.function.arguments || {});\n\n  if (toolName === 'search_documents') {\n    return [{\n      json: {\n        _route: 'ai_search',\n        _query: args.query || '',\n        _limit: args.limit || 5,\n        _tool_call_id: tc.id,\n        _tool_name: toolName\n      }\n    }];\n  } else if (toolName === 'list_documents') {\n    return [{\n      json: {\n        _route: 'ai_list',\n        _filter: args.filter || '',\n        _limit: args.limit || 10,\n        _tool_call_id: tc.id,\n        _tool_name: toolName\n      }\n    }];\n  } else if (toolName === 'get_stats') {\n    return [{\n      json: {\n        _route: 'ai_stats',\n        _tool_call_id: tc.id,\n        _tool_name: toolName\n      }\n    }];\n  }\n}\n\nreturn [{\n  json: {\n    _route: 'ai_text',\n    _text: content || 'ขออภัย ระบบไม่สามารถประมวลผลได้ในขณะนี้'\n  }\n}];\n"},"typeVersion":2},{"id":"sw-ai-route","name":"AI Route Switch","type":"n8n-nodes-base.switch","position":[2704,944],"parameters":{"rules":{"values":[{"outputKey":"search","conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"r-search","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json._route }}","rightValue":"ai_search"}]},"renameOutput":true},{"outputKey":"list","conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"r-list","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json._route }}","rightValue":"ai_list"}]},"renameOutput":true},{"outputKey":"stats","conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"r-stats","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json._route }}","rightValue":"ai_stats"}]},"renameOutput":true},{"outputKey":"text","conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"r-text","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json._route }}","rightValue":"ai_text"}]},"renameOutput":true}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"unknown"}},"typeVersion":3.2},{"id":"ai-search","name":"AI: Call Vector Search","type":"n8n-nodes-base.httpRequest","position":[2928,720],"parameters":{"url":"http://localhost:5678/webhook/vector-search-json","method":"POST","options":{"timeout":60000,"response":{"response":{"neverError":true}}},"jsonBody":"={\n  \"q\": {{ JSON.stringify($json._query) }} }","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]}},"typeVersion":4.2},{"id":"ai-text-reply","name":"AI: Reply Text","type":"n8n-nodes-base.httpRequest","position":[3376,1056],"parameters":{"url":"https://api.line.me/v2/bot/message/reply","method":"POST","options":{"timeout":15000},"jsonBody":"={\n  \"replyToken\": {{ JSON.stringify($('Smart Router').first().json._replyToken) }},\n  \"messages\": [{ \"type\": \"text\", \"text\": {{ JSON.stringify($json._text) }} }]\n}","sendBody":true,"sendHeaders":true,"specifyBody":"json","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]}},"credentials":{"httpHeaderAuth":{"id":"27fef0b4-9224-4a77-9741-c4f8e3d0aede","name":"LINE Bearer Auth"}},"typeVersion":4.2},{"id":"code-ai-flex","name":"AI: Build Flex Card","type":"n8n-nodes-base.code","position":[3152,720],"parameters":{"jsCode":"// Build LINE Flex message from search results\nconst searchResp = $('AI: Call Vector Search').first().json;\nconst query = $('Parse AI Response').first().json._query;\nconst results = (searchResp.results || []).slice(0, 5);\n\nif (!results.length) {\n  // No results - simple text with admin UI link\n  return [{\n    json: {\n      _flex: null,\n      _fallback: `🔍 ไม่พบเอกสารที่เกี่ยวข้องกับ \"${query}\"\\n\\nเปิดดูเอกสารทั้งหมด: https://n8n.jesadakorn.com/webhook/docs-admin-ui?q=${encodeURIComponent(query)}\\n\\nลองค้นหาด้วยคำอื่น หรือพิมพ์ \"สรุปผล\" เพื่อดูภาพรวม`\n    }\n  }];\n}\n\n// URL-encode query for the admin UI link\nconst adminUrl = `https://n8n.jesadakorn.com/webhook/docs-admin-ui?q=${encodeURIComponent(query)}`;\n\n// Build Flex card with carousel of results\nconst bubbles = results.map(r => {\n  const sim = ((r.similarity || 0) * 100).toFixed(1);\n  const contentPreview = (r.content || '').slice(0, 100).replace(/\\n/g, ' ');\n  const headerText = (r.doc_no && r.doc_no.length > 0) ? r.doc_no : '🔍 ' + (r.file_name || 'document').slice(0, 20);\n  const docNo = (r.doc_no && r.doc_no.length > 0) ? r.doc_no : '';\n  return {\n    type: 'bubble',\n    size: 'mega',\n    header: {\n      type: 'box',\n      layout: 'vertical',\n      contents: [\n        {\n          type: 'text',\n          text: headerText,\n          weight: 'bold',\n          size: 'sm',\n          color: '#1a3a5c',\n          wrap: true\n        }\n      ],\n      backgroundColor: '#f5f7fa',\n      paddingAll: 'sm'\n    },\n    body: {\n      type: 'box',\n      layout: 'vertical',\n      contents: [\n        {\n          type: 'text',\n          text: r.file_name || '',\n          weight: 'bold',\n          size: 'md',\n          wrap: true\n        },\n        {\n          type: 'box',\n          layout: 'baseline',\n          margin: 'md',\n          contents: [\n            {\n              type: 'text',\n              text: `📊 ${sim}% match`,\n              size: 'xs',\n              color: '#0a6b3e',\n              weight: 'bold'\n            },\n            {\n              type: 'text',\n              text: ` · chunk #${r.chunk_index || 0}`,\n              size: 'xs',\n              color: '#999999'\n            }\n          ]\n        },\n        {\n          type: 'text',\n          text: contentPreview + '...',\n          size: 'xs',\n          color: '#666666',\n          wrap: true,\n          margin: 'md'\n        }\n      ]\n    },\n    footer: {\n      type: 'box',\n      layout: 'vertical',\n      contents: [\n        {\n          type: 'button',\n          style: 'primary',\n          color: '#1a3a5c',\n          action: {\n            type: 'uri',\n            label: '📂 เปิดในระบบ',\n            uri: adminUrl\n          }\n        },\n        {\n          type: 'button',\n          style: 'secondary',\n          margin: 'sm',\n          action: {\n            type: 'uri',\n            label: docNo ? ('ดู ' + docNo) : '📋 ดูเอกสารทั้งหมด',\n            uri: adminUrl\n          }\n        }\n      ]\n    }\n  };\n});\n\nconst flex = {\n  type: 'flex',\n  altText: `🔍 ผลการค้นหา: ${query} (${results.length} รายการ)`,\n  contents: {\n    type: 'carousel',\n    contents: bubbles\n  }\n};\n\nreturn [{\n  json: {\n    _flex: flex,\n    _fallback: `🔍 ผลการค้นหา: ${query} (${results.length} รายการ)\\n\\nเปิดดูในระบบ: ${adminUrl}`,\n    _result_count: results.length,\n    _query: query\n  }\n}];\n"},"typeVersion":2},{"id":"ai-send-flex","name":"AI: Send Reply","type":"n8n-nodes-base.httpRequest","position":[3600,720],"parameters":{"url":"https://api.line.me/v2/bot/message/reply","method":"POST","options":{"timeout":15000},"jsonBody":"={\n  \"replyToken\": {{ JSON.stringify($('Smart Router').first().json._replyToken) }},\n  \"messages\": [{{ JSON.stringify($('Build Safe Reply').first().json.message) }}]\n}","sendBody":true,"sendHeaders":true,"specifyBody":"json","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]}},"credentials":{"httpHeaderAuth":{"id":"27fef0b4-9224-4a77-9741-c4f8e3d0aede","name":"LINE Bearer Auth"}},"typeVersion":4.2},{"id":"ai-list-contracts","name":"AI: List Contracts","type":"n8n-nodes-base.postgres","position":[2928,912],"parameters":{"query":"SELECT * FROM (SELECT doc_no, file_name, file_type, category, status, source, (SELECT COUNT(*) FROM contract_chunks WHERE contract_id = c.id) AS chunk_count, uploaded_at, FALSE AS _is_dummy FROM contracts c WHERE (($1::text IS NULL OR $1 = '') OR LOWER(file_name) LIKE '%' || LOWER($1) || '%' OR LOWER(COALESCE(category,'')) LIKE '%' || LOWER($1) || '%') ORDER BY uploaded_at DESC LIMIT $2::int ) real_rows UNION ALL SELECT NULL, NULL, NULL, NULL, NULL, NULL, 0, NULL, TRUE AS _is_dummy WHERE NOT EXISTS (SELECT 1 FROM contracts) ORDER BY _is_dummy ASC, uploaded_at DESC NULLS LAST","options":{"queryReplacement":"={{ [$json._filter || null, $json._limit || 10] }}"},"operation":"executeQuery"},"credentials":{"postgres":{"id":"a70ff3bd-3863-49c2-b2d4-e74d97d77c01","name":"PG Contracts - localhost:5432"}},"typeVersion":2.4},{"id":"ai-get-stats","name":"AI: Get Stats","type":"n8n-nodes-base.postgres","position":[2928,1200],"parameters":{"query":"SELECT (SELECT COUNT(*) FROM contracts) AS total, (SELECT COUNT(*) FROM contracts WHERE status='ready') AS ready, (SELECT COUNT(*) FROM contracts WHERE status='pending') AS pending, (SELECT COUNT(*) FROM contracts WHERE status='failed') AS failed, (SELECT json_agg(json_build_object('category', COALESCE(category,'ไม่ระบุ'),'count', cnt) ORDER BY cnt DESC) FROM (SELECT category, COUNT(*) AS cnt FROM contracts GROUP BY category) x) AS by_category","options":{},"operation":"executeQuery"},"credentials":{"postgres":{"id":"a70ff3bd-3863-49c2-b2d4-e74d97d77c01","name":"PG Contracts - localhost:5432"}},"typeVersion":2.4},{"id":"ai-format-list","name":"AI: Format List","type":"n8n-nodes-base.code","position":[3152,912],"parameters":{"jsCode":"// Format list of contracts as readable Thai text\nconst allItems = $('AI: List Contracts').all().map(i => i.json);\nconst rows = allItems.filter(r => !r._is_dummy);\nconst filter = $json._filter || '';\nconst limit = $json._limit || 10;\n\nif (rows.length === 0) {\n  const emptyText = filter\n    ? `ไม่พบเอกสารที่ตรงกับ \"${filter}\"\\n\\nลองค้นหาด้วยคำอื่น หรือพิมพ์ \"สรุปผล\" เพื่อดูภาพรวม`\n    : 'ตอนนี้ยังไม่มีเอกสารในระบบเลยครับ\\n\\nส่ง PDF/รูปภาพ เข้า LINE OA เพื่อเริ่มอัปโหลดได้เลย';\n  return [{ json: { _text: emptyText } }];\n}\n\nlet text = filter\n  ? `📋 พบ ${rows.length} เอกสารที่ตรงกับ \"${filter}\" (แสดง ${rows.length}/${limit}):\\n\\n`\n  : `📋 ตอนนี้มี ${rows.length} เอกสารในระบบ (แสดง ${rows.length}/${limit}):\\n\\n`;\n\nrows.forEach((r, i) => {\n  const statusEmoji = r.status === 'ready' ? '✅' : r.status === 'pending' ? '⏳' : r.status === 'failed' ? '❌' : '❔';\n  const date = r.uploaded_at ? new Date(r.uploaded_at).toLocaleDateString('th-TH', { year: 'numeric', month: 'short', day: 'numeric' }) : '';\n  text += `${i+1}. ${statusEmoji} ${r.file_name}`;\n  if (r.doc_no) text += ` (${r.doc_no})`;\n  if (r.category) text += `\\n   หมวด: ${r.category} | chunks: ${r.chunk_count} | ${date}`;\n  text += '\\n';\n});\n\ntext += '\\n💡 พิมพ์ \"หา[คำค้น]\" เพื่อค้นหาแบบ semantic | \"สรุปผล\" เพื่อดูภาพรวม';\n\nreturn [{ json: { _text: text } }];\n"},"typeVersion":2},{"id":"ai-format-stats","name":"AI: Format Stats","type":"n8n-nodes-base.code","position":[3152,1200],"parameters":{"jsCode":"const rows = $('AI: Get Stats').all().map(i => i.json);\nconst s = rows[0] || {};\n\nlet text = `📊 สรุปภาพรวมเอกสาร\\n\\n`;\ntext += `📁 ทั้งหมด: ${s.total || 0} เอกสาร\\n`;\ntext += `✅ พร้อมใช้งาน: ${s.ready || 0}\\n`;\ntext += `⏳ กำลังประมวลผล: ${s.pending || 0}\\n`;\ntext += `❌ ล้มเหลว: ${s.failed || 0}\\n\\n`;\n\nif (s.by_category && Array.isArray(s.by_category)) {\n  text += `📂 แยกตามหมวดหมู่:\\n`;\n  s.by_category.forEach(c => {\n    text += `  • ${c.category}: ${c.count} ฉบับ\\n`;\n  });\n}\n\ntext += `\\n💡 พิมพ์ \\\"list\\\" เพื่อดูเอกสารทั้งหมด | \\\"หา[คำค้น]\\\" เพื่อค้นหา`;\n\nreturn [{ json: { _text: text } }];\n"},"typeVersion":2},{"id":"wh-vs-json","name":"JS-VS Webhook","type":"n8n-nodes-base.webhook","position":[240,112],"webhookId":"vs-json-wh","parameters":{"path":"vector-search-json","options":{},"httpMethod":"POST","responseMode":"lastNode"},"typeVersion":2},{"id":"js-vs-parse","name":"JS-VS Parse","type":"n8n-nodes-base.code","position":[464,112],"parameters":{"jsCode":"// Read q from either URL query OR body\nconst wrapped = $input.first().json;\nconst q = wrapped._query || wrapped.query || {};\nconst body = wrapped._body || wrapped.body || wrapped || {};\nconst query = (q.q || body.q || '').toString().trim();\nconst limit = parseInt(q.limit || body.limit || 10, 10) || 10;\nreturn [{json: {query, _query: query, _limit: limit}}];\n"},"typeVersion":2},{"id":"js-vs-embed","name":"JS-VS Embed","type":"n8n-nodes-base.httpRequest","position":[688,112],"parameters":{"url":"={{ ($env.OLLAMA_URL || 'http://127.0.0.1:11434') }}/api/embed","method":"POST","options":{"timeout":30000},"jsonBody":"={\n  \"model\": \"{{ $env.OLLAMA_EMBED_MODEL || 'bge-m3' }}\",\n  \"input\": {{ JSON.stringify($json.query) }} }","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]}},"typeVersion":4.1},{"id":"js-vs-pg","name":"JS-VS PG","type":"n8n-nodes-base.postgres","position":[912,112],"parameters":{"query":"WITH q AS (SELECT $1::vector AS qvec, $3::text AS qtxt),\nv AS (\n  SELECT ch.contract_id, ch.chunk_index, ch.content,\n         1 - (ch.embedding <=> q.qvec) AS v_sim,\n         ROW_NUMBER() OVER (ORDER BY ch.embedding <=> q.qvec) AS v_rank\n  FROM contract_chunks ch, q\n  WHERE ch.embedding IS NOT NULL\n  ORDER BY ch.embedding <=> q.qvec\n  LIMIT $2::int * 2\n),\nt AS (\n  SELECT ch.contract_id, ch.chunk_index, ch.content,\n         (CASE WHEN ch.content ILIKE '%' || q.qtxt || '%' THEN 1.0 ELSE 0 END)\n         + (length(ch.content) - length(replace(ch.content, q.qtxt, '')))::float / greatest(length(q.qtxt), 1)::float * 0.1 AS t_sim,\n         ROW_NUMBER() OVER (\n           ORDER BY \n             (CASE WHEN ch.content ILIKE '%' || q.qtxt || '%' THEN 0 ELSE 1 END),\n             (length(ch.content) - length(replace(ch.content, q.qtxt, '')))::float DESC,\n             ch.chunk_index ASC\n         ) AS t_rank\n  FROM contract_chunks ch, q\n  ORDER BY \n    (CASE WHEN ch.content ILIKE '%' || q.qtxt || '%' THEN 0 ELSE 1 END),\n    (length(ch.content) - length(replace(ch.content, q.qtxt, '')))::float DESC\n  LIMIT $2::int * 2\n),\nfused AS (\n  SELECT COALESCE(v.contract_id, t.contract_id) AS contract_id,\n         COALESCE(v.chunk_index, t.chunk_index) AS chunk_index,\n         COALESCE(v.content, t.content) AS content,\n         COALESCE(1.0/(60+v.v_rank), 0) + COALESCE(1.0/(60+t.t_rank), 0) AS rrf_score,\n         COALESCE(v.v_sim, 0) AS vector_sim,\n         COALESCE(t.t_sim, 0) AS keyword_sim\n  FROM v FULL OUTER JOIN t USING (contract_id, chunk_index)\n)\nSELECT c.id AS contract_id, c.doc_no, c.file_name, f.chunk_index, f.content,\n       f.rrf_score AS similarity, f.vector_sim, f.keyword_sim\nFROM fused f JOIN contracts c ON c.id = f.contract_id\nORDER BY f.rrf_score DESC\nLIMIT $2::int","options":{"queryReplacement":"={{ [\n  ($json.embeddings && $json.embeddings[0]) ? '[' + $json.embeddings[0].map(Number).join(',') + ']' : '[]',\n  $json._limit || 10,\n  $json._query || ''\n] }}"},"operation":"executeQuery"},"credentials":{"postgres":{"id":"a70ff3bd-3863-49c2-b2d4-e74d97d77c01","name":"PG Contracts - localhost:5432"}},"typeVersion":2.4},{"id":"js-vs-format","name":"JS-VS Format","type":"n8n-nodes-base.code","position":[1136,112],"parameters":{"jsCode":"// Format hybrid search results as JSON\nconst rows = $input.all().map(i => i.json).filter(r => r && r.contract_id);\nreturn [{json: {\n  ok: true,\n  query: $('JS-VS Parse').first().json.query,\n  count: rows.length,\n  results: rows.map(r => ({\n    contract_id: r.contract_id,\n    doc_no: r.doc_no,\n    file_name: r.file_name,\n    chunk_index: r.chunk_index,\n    content: r.content,\n    similarity: parseFloat(r.similarity) || 0,\n    vector_sim: parseFloat(r.vector_sim) || 0,\n    keyword_sim: parseFloat(r.keyword_sim) || 0\n  }))\n}}];\n"},"typeVersion":2},{"id":"build-safe-reply","name":"Build Safe Reply","type":"n8n-nodes-base.code","position":[3376,720],"parameters":{"jsCode":"// Build a safe LINE message from Build Flex Card output\nconst bfc = $('AI: Build Flex Card').first().json;\nlet message = null;\n\n// Try _flex first\nif (bfc && bfc._flex) {\n  // Validate Flex structure\n  const flex = bfc._flex;\n  if (flex.type === 'flex' && flex.altText && flex.contents) {\n    message = flex;\n  } else {\n    // Malformed Flex - log and fall back to text\n    console.log('Invalid Flex structure, falling back to text:', JSON.stringify(flex).slice(0, 200));\n  }\n}\n\n// Try _fallback second\nif (!message && bfc && bfc._fallback && typeof bfc._fallback === 'string' && bfc._fallback.length > 0) {\n  message = { type: 'text', text: bfc._fallback };\n}\n\n// Last resort: generic text\nif (!message) {\n  message = { type: 'text', text: 'ไม่สามารถแสดงผลได้ในขณะนี้' };\n}\n\nreturn [{json: {message}}];"},"typeVersion":2},{"id":"code-decode-prepare","name":"LINE Decode & Prepare Binary","type":"n8n-nodes-base.code","position":[1360,432],"parameters":{"jsCode":"// Download + Decode combined.\n// HTTP node responseFormat=file returns filesystem-v2 ref that getBinaryDataBuffer can't read.\n// Code node v2.25 has no getCredentials on this.helpers — use $env or hardcoded token.\n\nconst sm = $('Smart Router').first().json;\nconst evt = sm._event || {};\nconst messageId = evt.message?.id;\nif (!messageId) {\n  throw new Error('No message id from Smart Router event');\n}\n\n// Try $env first (Code node v2.x exposes env vars)\nlet token = $env.LINE_CHANNEL_ACCESS_TOKEN;\n// Fallback to hardcoded (POC; will replace once proper credential wiring exists)\nif (!token) {\n  token = 'Ngf4v6eN3sk97GHP2Y5IaGOrlAQg4W25mLWJggI9Iw6HnrpBvIHqNz1lyUL1d1N9DiURJnYul4CdrMb7LbrDq45iRalBhqdFXMDAiuc0q8hzhYMHDUgJlFnAFI1PAxaoy8vKWqKEHtyxxbYAdB04t89/1O/w1cDnyilFU=';\n}\n\nlet response;\ntry {\n  response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://api-data.line.me/v2/bot/message/${messageId}/content`,\n    headers: { Authorization: `Bearer ${token}` },\n    encoding: null,\n    timeout: 30000,\n  });\n} catch (e) {\n  // LINE returns 404 when message content has expired\n  throw new Error(`LINE content download failed: ${e.message} (message_id=${messageId})`);\n}\n\nconst buffer = Buffer.isBuffer(response) ? response : Buffer.from(response);\nif (!buffer || buffer.length === 0) {\n  throw new Error('Empty response from LINE content API');\n}\n\nconst msg = evt.message || {};\nconst src = evt.source || {};\nconst fname = msg.fileName || 'upload.pdf';\nlet mime = msg.type === 'image' ? 'image/jpeg' : 'application/octet-stream';\nconst ext = fname.toLowerCase().split('.').pop();\nif (ext === 'pdf') mime = 'application/pdf';\nelse if (ext === 'png') mime = 'image/png';\nelse if (ext === 'jpg' || ext === 'jpeg') mime = 'image/jpeg';\n\nconst b64 = buffer.toString('base64');\nconst binaryData = await this.helpers.prepareBinaryData(buffer, fname, mime);\n\nreturn [{\n  json: Object.assign({}, sm, {\n    _event: evt,\n    // Expose LINE webhook fields so Register Start's queryReplacement can resolve them\n    line_user_id: src.userId || '',\n    line_group_id: src.groupId || '',\n    line_message_id: messageId || '',\n    file_type: ext || '',\n    file_data_b64: b64,\n    file_mime: mime,\n    file_name: fname,\n    file_size: buffer.length,\n  }),\n  binary: { data: binaryData, file: binaryData }\n}];\n"},"typeVersion":2},{"id":"node-300","name":"Has Chunks?","type":"n8n-nodes-base.if","position":[2282,432],"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.has_chunks }}","operation":"equal","value2":true}]}},"typeVersion":1},{"id":"code-check-rt","name":"Check Reply Token","type":"n8n-nodes-base.code","position":[2592,992],"parameters":{"jsCode":"// Set _has_reply_token flag based on Smart Router's _replyToken\nconst sr = $('Smart Router').first().json;\nconst replyToken = sr._replyToken;\nconst hasReplyToken = (typeof replyToken === 'string' && replyToken.length > 0);\n\n// Pass through input + add flag\nconst input = $input.first().json;\nreturn [{\n  json: {\n    ...input,\n    _has_reply_token: hasReplyToken,\n    _reply_token_value: replyToken || null\n  }\n}];"},"typeVersion":2},{"id":"if-has-reply-token","name":"Has Reply Token?","type":"n8n-nodes-base.switch","position":[2736,992],"parameters":{"mode":"rules","rules":{"values":[{"outputKey":"real_line","conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ String($json._has_reply_token) }}","rightValue":"true"}]},"renameOutput":true},{"outputKey":"test_mode","conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ String($json._has_reply_token) }}","rightValue":"true"}]},"renameOutput":true}]},"options":{}},"typeVersion":3.2},{"id":"63098214-c190-4b93-8f32-4c94ffccb7fc","name":"LINE Rollback File","type":"n8n-nodes-base.code","position":[240,3088],"parameters":{"mode":"runOnceForAllItems","jsCode":"// Rollback: collect the contract id we tried to save so we can DELETE it.\nconst start = $('LINE Register Start').first();\nconst id = start && start.json && start.json.id;\nreturn [{ json: { contract_id: id, action: 'rollback' } }];\n"},"executeOnce":false,"typeVersion":2},{"id":"4f9ec6d5-5947-4b71-8169-9d5b96595407","name":"LINE Delete Contract Row","type":"n8n-nodes-base.postgres","position":[560,3088],"parameters":{"query":"DELETE FROM contracts WHERE id = $1::uuid RETURNING id","options":{"queryReplacement":"={{ [$json.contract_id || ''] }}"},"operation":"executeQuery"},"credentials":{"postgres":{"id":"a70ff3bd-3863-49c2-b2d4-e74d97d77c01","name":"PG Contracts - localhost:5432"}},"typeVersion":2.4},{"id":"node-301","name":"LINE: Normalize Has Chunks","type":"n8n-nodes-base.code","position":[2252,432],"parameters":{"mode":"runOnceForAllItems","jsCode":"// Normalize Chunk text output to a boolean has_chunks field.\n// IF v1 with strict typeValidation mis-evaluates Number($json.x) > 0\n// when chunk_count is 0, so we do the comparison here in JS land.\nconst info = $input.first().json || {};\nconst chunkCount = Number(info.chunk_count || 0);\nconst hasChunks = chunkCount > 0;\nreturn [{\n  json: Object.assign({}, info, {\n    chunk_count: chunkCount,\n    has_chunks: hasChunks,\n  })\n}];\n"},"typeVersion":2}],"connections":{"JS-VS PG":{"main":[[{"node":"JS-VS Format","type":"main","index":0}]]},"Is stats?":{"main":[[{"node":"PG: Aggregate Stats","type":"main","index":0}],[{"node":"Respond Not Stats","type":"main","index":0}]]},"Embed Query":{"main":[[{"node":"Build Vector Params","type":"main","index":0}]]},"Has Chunks?":{"main":[[{"node":"LINE Embed all chunks (Ollama bge-m3)","type":"main","index":0}],[{"node":"LINE Rollback File","type":"main","index":1}]]},"JS-VS Embed":{"main":[[{"node":"JS-VS PG","type":"main","index":0}]]},"JS-VS Parse":{"main":[[{"node":"JS-VS Embed","type":"main","index":0}]]},"Mode Switch":{"main":[[{"node":"PG: List Docs","type":"main","index":0}],[{"node":"Embed Query","type":"main","index":0}]]},"Render HTML":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Docs Webhook":{"main":[[{"node":"Smart Router","type":"main","index":0}]]},"Parse Search":{"main":[[{"node":"Mode Switch","type":"main","index":0}]]},"Route Switch":{"main":[[{"node":"LINE: Is file?","type":"main","index":0}],[{"node":"Prep Registry Row","type":"main","index":0}],[{"node":"Parse Stats Request","type":"main","index":0}],[{"node":"Parse Search","type":"main","index":0}]]},"Smart Router":{"main":[[{"node":"Route Switch","type":"main","index":0}]]},"AI: Get Stats":{"main":[[{"node":"AI: Format Stats","type":"main","index":0}]]},"JS-VS Webhook":{"main":[[{"node":"JS-VS Parse","type":"main","index":0}]]},"PG: By Status":{"main":[[{"node":"Render HTML","type":"main","index":0}]]},"PG: List Docs":{"main":[[{"node":"PG: Daily Activity","type":"main","index":0}]]},"Respond Stats":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"AI: Reply Text":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"AI: Send Reply":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"LINE: Is file?":{"main":[[{"node":"LINE Decode & Prepare Binary","type":"main","index":0}]]},"AI Route Switch":{"main":[[{"node":"AI: Call Vector Search","type":"main","index":0}],[{"node":"AI: List Contracts","type":"main","index":0}],[{"node":"AI: Get Stats","type":"main","index":0}],[{"node":"AI: Reply Text","type":"main","index":0}]]},"AI: Format List":{"main":[[{"node":"AI: Reply Text","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Respond Docs","type":"main","index":0}]]},"LINE Chunk text":{"main":[[{"node":"LINE: Normalize Has Chunks","type":"main","index":0}]]},"Needs generate?":{"main":[[{"node":"PG: Get Next Seq","type":"main","index":0}],[{"node":"Passthrough (use provided doc_no)","type":"main","index":0}]]},"AI: Format Stats":{"main":[[{"node":"AI: Reply Text","type":"main","index":0}]]},"Build Safe Reply":{"main":[[{"node":"AI: Send Reply","type":"main","index":0}]]},"Has Reply Token?":{"main":[[{"node":"AI Route Switch","type":"main","index":0}],[{"node":"Format Response","type":"main","index":0}]]},"LINE Reply Error":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"PG: Get Next Seq":{"main":[[{"node":"PG: Insert/Update Document","type":"main","index":0}]]},"Respond Registry":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"AI Agent (Ollama)":{"main":[[{"node":"Parse AI Response","type":"main","index":0}]]},"Check Reply Token":{"main":[[{"node":"Has Reply Token?","type":"main","index":0}]]},"Format Stats Text":{"main":[[{"node":"Respond Stats","type":"main","index":0}]]},"PG: Vector Search":{"main":[[{"node":"PG: Daily Activity","type":"main","index":0}]]},"Parse AI Response":{"main":[[{"node":"Check Reply Token","type":"main","index":0}]]},"Prep Registry Row":{"main":[[{"node":"Needs generate?","type":"main","index":0}]]},"Respond Not Stats":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"AI: List Contracts":{"main":[[{"node":"AI: Format List","type":"main","index":0}]]},"LINE Insert chunks":{"main":[[{"node":"LINE Reply Success","type":"main","index":0}],[{"node":"LINE Reply Error","type":"main","index":1}]]},"LINE Reply Success":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"LINE Rollback File":{"main":[[{"node":"LINE Delete Contract Row","type":"main","index":0}]]},"PG: Daily Activity":{"main":[[{"node":"PG: Recent Activity","type":"main","index":0}]]},"AI: Build Flex Card":{"main":[[{"node":"Build Safe Reply","type":"main","index":0}]]},"Build Vector Params":{"main":[[{"node":"PG: Vector Search","type":"main","index":0}]]},"LINE Register Start":{"main":[[{"node":"LINE Chunk text","type":"main","index":0}]]},"PG: Aggregate Stats":{"main":[[{"node":"Format Stats Text","type":"main","index":0}]]},"PG: Recent Activity":{"main":[[{"node":"PG: By Status","type":"main","index":0}]]},"Parse Stats Request":{"main":[[{"node":"Is stats?","type":"main","index":0}]]},"LINE: Reply Non-File":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"AI: Call Vector Search":{"main":[[{"node":"AI: Build Flex Card","type":"main","index":0}]]},"LINE Delete Contract Row":{"main":[[{"node":"LINE Reply Error","type":"main","index":0}]]},"LINE Insert contract row":{"main":[[{"node":"LINE Build chunk INSERT SQL","type":"main","index":0}]]},"PG: Insert/Update Document":{"main":[[{"node":"Respond Registry","type":"main","index":0}]]},"LINE Build chunk INSERT SQL":{"main":[[{"node":"LINE Insert chunks","type":"main","index":0}]]},"LINE Extract text from file":{"main":[[{"node":"LINE Register Start","type":"main","index":0}]]},"LINE Decode & Prepare Binary":{"main":[[{"node":"LINE Extract text from file","type":"main","index":0}]]},"LINE Combine metadata + vectors":{"main":[[{"node":"LINE Insert contract row","type":"main","index":0}]]},"Passthrough (use provided doc_no)":{"main":[[{"node":"PG: Insert/Update Document","type":"main","index":0}]]},"LINE Embed all chunks (Ollama bge-m3)":{"main":[[{"node":"LINE Combine metadata + vectors","type":"main","index":0}]]},"LINE: Normalize Has Chunks":{"main":[[{"node":"Has Chunks?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"saveExecutionProgress":true,"saveDataErrorExecution":"all","saveDataSuccessExecution":"all","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"ae68b892-6c2d-4e0c-b246-a61bded79939","activeVersionId":"ae68b892-6c2d-4e0c-b246-a61bded79939","versionCounter":1,"triggerCount":2,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-06-21T09:42:45.082Z","createdAt":"2026-06-21T09:42:45.082Z","role":"workflow:owner","workflowId":"TL2qrOygnWKY69xe","projectId":"40KI2a4v2OVG1X1W","project":{"updatedAt":"2026-06-21T09:00:40.953Z","createdAt":"2026-06-21T08:57:15.807Z","id":"40KI2a4v2OVG1X1W","name":"Admin User <admin@local.test>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"5c824990-2ef0-4078-80b0-3c09056f2f12"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-06-21T09:42:49.196Z","createdAt":"2026-06-18T04:19:01.736Z","id":"AdM1nFlow12345678CD0cHub2","name":"04 - Docs Admin (CRUD UI)","description":"Admin CRUD UI for contracts","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"docs-admin-ui","responseMode":"responseNode","options":{}},"id":"wh-admin-ui","name":"Admin UI Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-48,0],"webhookId":"admin-ui-webhook"},{"parameters":{"jsCode":"// Return HTML page for Docs Admin\nconst html = `<!doctype html>\n<html lang=\"th\">\n<head>\n<meta charset=\"utf-8\">\n<title>Docs Admin | Phuket Law</title>\n<meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n<style>\n:root{\n  --bg:#f6f7f9;--card:#fff;--ink:#0f172a;--muted:#64748b;--bd:#e2e8f0;\n  --pri:#0f766e;--pri-2:#0d9488;--warn:#b45309;--err:#b91c1c;--ok:#15803d;\n}\n*{box-sizing:border-box}\nbody{font:14px/1.5 -apple-system,\"SF Pro Text\",\"Inter\",system-ui,sans-serif;margin:0;background:var(--bg);color:var(--ink)}\nheader{background:#0f172a;color:#fff;padding:14px 24px;display:flex;align-items:center;gap:16px;box-shadow:0 1px 0 #00000020}\nheader h1{font-size:16px;font-weight:600;margin:0;letter-spacing:.2px}\nheader .crumb{color:#94a3b8;font-size:12px;margin-left:auto}\n.wrap{max-width:1280px;margin:0 auto;padding:24px}\n.toolbar{display:flex;gap:8px;align-items:center;margin-bottom:16px;flex-wrap:wrap}\n.toolbar input,.toolbar select{height:36px;padding:0 12px;border:1px solid var(--bd);border-radius:8px;background:#fff;font:inherit;color:var(--ink);outline:none}\n.toolbar input:focus,.toolbar select:focus{border-color:var(--pri-2);box-shadow:0 0 0 3px #0d948822}\n.toolbar input.search{flex:1;min-width:200px}\n.btn{height:36px;padding:0 14px;border:0;border-radius:8px;background:var(--pri);color:#fff;font:inherit;font-weight:500;cursor:pointer;display:inline-flex;align-items:center;gap:6px}\n.btn:hover{background:var(--pri-2)}\n.btn.ghost{background:transparent;color:var(--ink);border:1px solid var(--bd)}\n.btn.ghost:hover{background:#f1f5f9}\n.btn.warn{background:var(--warn)}\n.btn.danger{background:var(--err)}\n.btn.sm{height:28px;padding:0 10px;font-size:12px;border-radius:6px}\n.stats{display:grid;grid-template-columns:repeat(auto-fit,minmax(150px,1fr));gap:12px;margin-bottom:20px}\n.stat{background:var(--card);border:1px solid var(--bd);border-radius:10px;padding:14px}\n.stat .label{font-size:11px;color:var(--muted);text-transform:uppercase;letter-spacing:.5px}\n.stat .num{font-size:24px;font-weight:600;margin-top:4px}\n.stat .num.warn{color:var(--warn)} .stat .num.ok{color:var(--ok)} .stat .num.err{color:var(--err)}\n.card{background:var(--card);border:1px solid var(--bd);border-radius:12px;overflow:hidden}\ntable{width:100%;border-collapse:collapse;font-size:13px}\nth{text-align:left;padding:12px 14px;background:#f8fafc;font-weight:600;color:var(--muted);font-size:11px;text-transform:uppercase;letter-spacing:.4px;border-bottom:1px solid var(--bd)}\ntd{padding:12px 14px;border-bottom:1px solid #f1f5f9;vertical-align:middle}\ntr:hover td{background:#fafbfc}\ntr:last-child td{border-bottom:0}\ntd.mono{font-family:ui-monospace,SFMono-Regular,Menlo,monospace;font-size:12px;color:#475569}\ntd .name{font-weight:500;color:var(--ink)}\ntd .name small{display:block;color:var(--muted);font-weight:400;font-size:11px;margin-top:2px}\n.badge{display:inline-block;padding:2px 8px;border-radius:99px;font-size:11px;font-weight:500}\n.badge.ready{background:#dcfce7;color:#15803d}\n.badge.pending{background:#fef3c7;color:#b45309}\n.badge.failed{background:#fee2e2;color:#b91c1c}\n.badge.processing{background:#dbeafe;color:#1d4ed8}\n.empty{padding:60px 20px;text-align:center;color:var(--muted)}\n.empty h3{margin:0 0 6px;font-weight:500;color:var(--ink)}\n.row-actions{display:flex;gap:6px;justify-content:flex-end}\n.modal{position:fixed;inset:0;background:#0f172a80;display:none;align-items:center;justify-content:center;z-index:50;padding:20px}\n.modal.on{display:flex}\n.modal .box{background:#fff;border-radius:12px;width:100%;max-width:760px;max-height:90vh;display:flex;flex-direction:column;overflow:hidden}\n.modal .hd{padding:16px 20px;border-bottom:1px solid var(--bd);display:flex;align-items:center;gap:12px}\n.modal .hd h2{margin:0;font-size:16px;font-weight:600;flex:1}\n.modal .bd{padding:20px;overflow-y:auto;flex:1}\n.modal .ft{padding:14px 20px;border-top:1px solid var(--bd);display:flex;justify-content:flex-end;gap:8px;background:#f8fafc}\n.field{margin-bottom:14px}\n.field label{display:block;font-size:12px;font-weight:500;color:var(--muted);margin-bottom:4px}\n.field input,.field select,.field textarea{width:100%;padding:8px 10px;border:1px solid var(--bd);border-radius:6px;font:inherit;background:#fff}\n.field input:focus,.field select:focus,.field textarea:focus{outline:none;border-color:var(--pri-2);box-shadow:0 0 0 3px #0d948822}\n.field .hint{font-size:11px;color:var(--muted);margin-top:3px}\n.grid2{display:grid;grid-template-columns:1fr 1fr;gap:14px}\n.chunk-list{margin-top:8px;max-height:340px;overflow-y:auto;border:1px solid var(--bd);border-radius:6px}\n.chunk{padding:10px 12px;border-bottom:1px solid #f1f5f9;font-size:12px}\n.chunk:last-child{border-bottom:0}\n.chunk .ci{color:var(--muted);font-family:ui-monospace,monospace;font-size:11px}\n.chunk .cp{color:#334155;margin-top:4px;line-height:1.4}\n.toast{position:fixed;bottom:20px;right:20px;background:#0f172a;color:#fff;padding:12px 18px;border-radius:8px;font-size:13px;opacity:0;transform:translateY(10px);transition:all .2s;z-index:100;max-width:360px}\n.toast.on{opacity:1;transform:translateY(0)}\n.toast.err{background:var(--err)}\n.toast.ok{background:var(--ok)}\n.spin{display:inline-block;width:14px;height:14px;border:2px solid #fff;border-top-color:transparent;border-radius:50%;animation:spin 1s linear infinite}\n@keyframes spin{to{transform:rotate(360deg)}}\n.loading{padding:40px;text-align:center;color:var(--muted)}\n</style>\n</head>\n<body>\n<header>\n  <h1>📑 Docs Admin</h1>\n  <span class=\"crumb\" id=\"crumb\">Phuket Law Firm • LINE-fed document store</span>\n</header>\n<div class=\"wrap\">\n  <div class=\"stats\" id=\"stats\">\n    <div class=\"stat\"><div class=\"label\">Total</div><div class=\"num\" id=\"stat-total\">—</div></div>\n    <div class=\"stat\"><div class=\"label\">Ready</div><div class=\"num ok\" id=\"stat-ready\">—</div></div>\n    <div class=\"stat\"><div class=\"label\">Pending</div><div class=\"num warn\" id=\"stat-pending\">—</div></div>\n    <div class=\"stat\"><div class=\"label\">Failed</div><div class=\"num err\" id=\"stat-failed\">—</div></div>\n  </div>\n  <div class=\"toolbar\">\n    <input class=\"search\" id=\"q\" placeholder=\"🔍 ค้นหา doc_no / ชื่อไฟล์ / category / source\">\n    <select id=\"f-status\">\n      <option value=\"\">สถานะทั้งหมด</option>\n      <option value=\"ready\">ready</option>\n      <option value=\"pending\">pending</option>\n      <option value=\"failed\">failed</option>\n      <option value=\"processing\">processing</option>\n    </select>\n    <button class=\"btn ghost\" id=\"btn-refresh\">↻ รีเฟรช</button>\n  </div>\n  <div class=\"card\">\n    <table>\n      <thead><tr>\n        <th style=\"width:160px\">Doc No</th>\n        <th>ชื่อไฟล์</th>\n        <th style=\"width:120px\">Category</th>\n        <th style=\"width:90px\">Status</th>\n        <th style=\"width:70px;text-align:right\">Chunks</th>\n        <th style=\"width:140px\">อัปโหลด</th>\n        <th style=\"width:170px\"></th>\n      </tr></thead>\n      <tbody id=\"tbody\">\n        <tr><td colspan=\"7\" class=\"loading\">กำลังโหลด…</td></tr>\n      </tbody>\n    </table>\n  </div>\n</div>\n\n<!-- View Modal -->\n<div class=\"modal\" id=\"m-view\">\n  <div class=\"box\">\n    <div class=\"hd\"><h2 id=\"v-title\">รายละเอียดเอกสาร</h2><button class=\"btn ghost sm\" onclick=\"closeModal('m-view')\">✕</button></div>\n    <div class=\"bd\" id=\"v-body\"></div>\n    <div class=\"ft\"><button class=\"btn ghost\" onclick=\"closeModal('m-view')\">ปิด</button><button class=\"btn ghost\" id=\"v-open-btn\">เปิดไฟล์</button><button class=\"btn\" id=\"v-edit-btn\">แก้ไข</button></div>\n  </div>\n</div>\n\n<!-- Edit Modal -->\n<div class=\"modal\" id=\"m-edit\">\n  <div class=\"box\">\n    <div class=\"hd\"><h2>แก้ไขเอกสาร</h2><button class=\"btn ghost sm\" onclick=\"closeModal('m-edit')\">✕</button></div>\n    <div class=\"bd\">\n      <input type=\"hidden\" id=\"e-id\">\n      <div class=\"grid2\">\n        <div class=\"field\"><label>Doc No</label><input id=\"e-doc_no\" disabled><div class=\"hint\">ไม่สามารถแก้ไขได้</div></div>\n        <div class=\"field\"><label>Status</label>\n          <select id=\"e-status\"><option value=\"ready\">ready</option><option value=\"pending\">pending</option><option value=\"failed\">failed</option><option value=\"processing\">processing</option></select>\n        </div>\n      </div>\n      <div class=\"field\"><label>ชื่อไฟล์</label><input id=\"e-file_name\"></div>\n      <div class=\"grid2\">\n        <div class=\"field\"><label>Category</label><input id=\"e-category\" placeholder=\"เช่น สัญญาเช่า, หนังสือมอบอำนาจ\"></div>\n        <div class=\"field\"><label>Source</label><input id=\"e-source\" placeholder=\"เช่น LINE OA, web upload\"></div>\n      </div>\n    </div>\n    <div class=\"ft\">\n      <button class=\"btn ghost\" onclick=\"closeModal('m-edit')\">ยกเลิก</button>\n      <button class=\"btn\" id=\"e-save\">บันทึก</button>\n    </div>\n  </div>\n</div>\n\n<div class=\"toast\" id=\"toast\"></div>\n\n<script>\nconst BASE = location.origin;\nlet allRows = [];\nlet statsCache = null;\n\nfunction toast(msg, kind=''){\n  const t = document.getElementById('toast');\n  t.textContent = msg;\n  t.className = 'toast on ' + kind;\n  setTimeout(()=>t.className='toast '+kind, 2200);\n}\n\nasync function api(path, opts){\n  const r = await fetch(BASE + path, opts);\n  if (!r.ok) throw new Error('HTTP '+r.status);\n  return r.json();\n}\n\nfunction fmtDate(s){\n  if(!s) return '—';\n  const d = new Date(s);\n  return d.toLocaleString('th-TH',{dateStyle:'short',timeStyle:'short'});\n}\n\nfunction esc(s){return String(s??'').replace(/[&<>\"']/g,c=>({'&':'&amp;','<':'&lt;','>':'&gt;','\"':'&quot;',\"'\":'&#39;'}[c]))}\n\nasync function loadStats(){\n  try{\n    const s = await api('/webhook/admin-stats');\n    const v = (s && s.data) || s;\n    if (typeof v === 'string') { try { v = JSON.parse(v); } catch {} }\n    document.getElementById('stat-total').textContent = v.total??0;\n    document.getElementById('stat-ready').textContent = v.ready??0;\n    document.getElementById('stat-pending').textContent = v.pending??0;\n    document.getElementById('stat-failed').textContent = v.failed??0;\n  }catch(e){console.warn('stats',e)}\n}\n\nasync function loadList(){\n  const q = document.getElementById('q').value.trim();\n  const st = document.getElementById('f-status').value;\n  const params = new URLSearchParams();\n  if(q) params.set('q', q);\n  if(st) params.set('status', st);\n  params.set('limit', '200');\n  try{\n    const data = await api('/webhook/admin-list?'+params.toString());\n    allRows = Array.isArray(data)?data:((data&&data.data)||[]);\n    render();\n  }catch(e){\n    document.getElementById('tbody').innerHTML = \\`<tr><td colspan=\"7\" class=\"empty\"><h3>โหลดไม่สำเร็จ</h3>\\${esc(e.message)}</td></tr>\\`;\n  }\n}\n\nfunction render(){\n  const tb = document.getElementById('tbody');\n  if(!allRows.length){\n    tb.innerHTML = \\`<tr><td colspan=\"7\" class=\"empty\"><h3>ไม่มีเอกสาร</h3>อัปโหลดผ่าน LINE OA เพื่อเริ่มต้น</td></tr>\\`;\n    return;\n  }\n  tb.innerHTML = allRows.map(r=>\\`\n    <tr>\n      <td class=\"mono\">\\${esc(r.doc_no||'—')}</td>\n      <td><div class=\"name\">\\${esc(r.file_name||'')}<small>\\${esc(r.file_type||'')}\\${r.size_bytes?' • '+Math.round(r.size_bytes/1024)+' KB':''}</small></div></td>\n      <td>\\${esc(r.category||'—')}</td>\n      <td><span class=\"badge \\${esc(r.status||'pending')}\">\\${esc(r.status||'pending')}</span></td>\n      <td style=\"text-align:right;font-variant-numeric:tabular-nums\">\\${r.chunk_count??0}</td>\n      <td class=\"mono\">\\${fmtDate(r.uploaded_at)}</td>\n      <td><div class=\"row-actions\">\n        <button class=\"btn ghost sm\" onclick=\"view('\\${esc(r.id)}')\">ดู</button>\n        <button class=\"btn sm\" onclick=\"edit('\\${esc(r.id)}')\">แก้ไข</button>\n        <button class=\"btn danger sm\" onclick=\"del('\\${esc(r.id)}','\\${esc(r.file_name||'')}')\">ลบ</button>\n      </div></td>\n    </tr>\n  \\`).join('');\n}\n\nasync function view(id){\n  try{\n    const data = await api('/webhook/admin-get?id='+encodeURIComponent(id));\n    const r = (Array.isArray(data)?data[0]:((data&&data.data)||data));\n    if(!r||!r.id){toast('ไม่พบเอกสาร','err');return}\n    const chunks = r.chunks||[];\n    document.getElementById('v-title').textContent = r.file_name||'(ไม่มีชื่อ)';\n    document.getElementById('v-body').innerHTML = \\`\n      <div class=\"grid2\">\n        <div><div class=\"hint\">เปิดดู</div><a href=\"/webhook/admin-file?id=\\${esc(id)}\" target=\"_blank\" class=\"btn ghost sm\" style=\"display:inline-flex;text-decoration:none;margin-top:4px\">↗ เปิดไฟล์ในแท็บใหม่</a></div>\n        <div><div class=\"hint\">Doc No</div><div class=\"mono\" style=\"font-weight:500\">\\${esc(r.doc_no||'—')}</div></div>\n        <div><div class=\"hint\">Status</div><span class=\"badge \\${esc(r.status)}\">\\${esc(r.status)}</span></div>\n        <div><div class=\"hint\">Category</div>\\${esc(r.category||'—')}</div>\n        <div><div class=\"hint\">Source</div>\\${esc(r.source||'—')}</div>\n        <div><div class=\"hint\">File Type</div>\\${esc(r.file_type||'—')}</div>\n        <div><div class=\"hint\">Size</div>\\${r.size_bytes?(Math.round(r.size_bytes/1024)+' KB'):'—'}</div>\n        <div><div class=\"hint\">Line User</div><div class=\"mono\" style=\"font-size:11px\">\\${esc(r.line_user_id||'—')}</div></div>\n        <div><div class=\"hint\">Line Group</div><div class=\"mono\" style=\"font-size:11px\">\\${esc(r.line_group_id||'—')}</div></div>\n        <div><div class=\"hint\">อัปโหลด</div>\\${fmtDate(r.uploaded_at)}</div>\n        <div><div class=\"hint\">อัปเดต</div>\\${fmtDate(r.updated_at)}</div>\n      </div>\n      <div style=\"margin-top:18px\">\n        <div class=\"hint\" style=\"margin-bottom:6px\">Chunks (\\${chunks.length})</div>\n        <div class=\"chunk-list\">\\${chunks.length?chunks.map(c=>\\`<div class=\"chunk\"><div class=\"ci\">#\\${c.chunk_index} • \\${c.token_count||0} tokens</div><div class=\"cp\">\\${esc(c.preview||'')}</div></div>\\`).join(''):'<div class=\"chunk\" style=\"color:#94a3b8\">ยังไม่มี chunks</div>'}</div>\n      </div>\n    \\`;\n    document.getElementById('v-edit-btn').onclick = ()=>{closeModal('m-view');edit(id)};\n    document.getElementById('v-open-btn').onclick = ()=>{\n      const url = '/webhook/admin-file?id='+encodeURIComponent(id);\n      window.open(url, '_blank');\n    };\n    document.getElementById('m-view').classList.add('on');\n  }catch(e){toast('โหลดรายละเอียดไม่สำเร็จ: '+e.message,'err')}\n}\n\nfunction edit(id){\n  const r = allRows.find(x=>x.id===id);\n  if(!r){toast('ไม่พบเอกสาร','err');return}\n  document.getElementById('e-id').value = id;\n  document.getElementById('e-doc_no').value = r.doc_no||'';\n  document.getElementById('e-file_name').value = r.file_name||'';\n  document.getElementById('e-category').value = r.category||'';\n  document.getElementById('e-source').value = r.source||'';\n  document.getElementById('e-status').value = r.status||'pending';\n  document.getElementById('m-edit').classList.add('on');\n}\n\nasync function saveEdit(){\n  const id = document.getElementById('e-id').value;\n  const body = {\n    id,\n    file_name: document.getElementById('e-file_name').value.trim(),\n    category: document.getElementById('e-category').value.trim(),\n    source: document.getElementById('e-source').value.trim(),\n    status: document.getElementById('e-status').value\n  };\n  if(!body.file_name){toast('กรุณากรอกชื่อไฟล์','err');return}\n  try{\n    await api('/webhook/admin-update',{method:'POST',headers:{'Content-Type':'application/json'},body:JSON.stringify(body)});\n    toast('บันทึกเรียบร้อย','ok');\n    closeModal('m-edit');\n    loadList();loadStats();\n  }catch(e){toast('บันทึกไม่สำเร็จ: '+e.message,'err')}\n}\n\nasync function del(id, name){\n  if(!confirm('ลบ \"'+name+'\"?\\\\n\\\\n⚠️ chunks ทั้งหมดจะถูกลบด้วย (CASCADE)')) return;\n  try{\n    await api('/webhook/admin-delete',{method:'POST',headers:{'Content-Type':'application/json'},body:JSON.stringify({id})});\n    toast('ลบเรียบร้อย','ok');\n    loadList();loadStats();\n  }catch(e){toast('ลบไม่สำเร็จ: '+e.message,'err')}\n}\n\nfunction closeModal(id){document.getElementById(id).classList.remove('on')}\n\ndocument.getElementById('btn-refresh').onclick = ()=>{loadList();loadStats()};\ndocument.getElementById('q').oninput = debounce(loadList, 300);\ndocument.getElementById('f-status').onchange = loadList;\ndocument.getElementById('e-save').onclick = saveEdit;\n\nfunction debounce(fn, ms){let t;return(...a)=>{clearTimeout(t);t=setTimeout(()=>fn(...a),ms)}}\n\n// Read URL query params (?q=, ?status=) and pre-fill inputs\nconst urlParams = new URLSearchParams(window.location.search);\nconst urlQ = urlParams.get('q');\nconst urlStatus = urlParams.get('status');\nif (urlQ) document.getElementById('q').value = urlQ;\nif (urlStatus) document.getElementById('f-status').value = urlStatus;\n\nloadList();\nloadStats();\nsetInterval(()=>{loadStats()}, 60000);\n</script>\n</body>\n</html>`;\nreturn [{json: {html: html}}];"},"id":"code-build-html","name":"Build HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[176,0]},{"parameters":{"respondWith":"text","responseBody":"={{ $('Build HTML').first().json.html }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/html; charset=utf-8"}]}}},"id":"resp-ui","name":"Respond UI","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[400,0]},{"parameters":{"path":"admin-list","responseMode":"lastNode","options":{}},"id":"wh-admin-list","name":"Admin List","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-48,224],"webhookId":"admin-list-wh"},{"parameters":{"path":"admin-get","responseMode":"lastNode","options":{}},"id":"wh-admin-get","name":"Admin Get","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-48,448],"webhookId":"admin-get-wh"},{"parameters":{"httpMethod":"POST","path":"admin-update","responseMode":"lastNode","options":{}},"id":"wh-admin-update","name":"Admin Update","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-48,672],"webhookId":"admin-update-wh"},{"parameters":{"httpMethod":"POST","path":"admin-delete","responseMode":"lastNode","options":{}},"id":"wh-admin-delete","name":"Admin Delete","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-48,896],"webhookId":"admin-delete-wh"},{"parameters":{"path":"admin-stats","responseMode":"lastNode","options":{}},"id":"wh-admin-stats","name":"Admin Stats","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-48,1120],"webhookId":"admin-stats-wh"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM (\n  SELECT id, doc_no, file_name, file_type, category, status, source, size_bytes, chunk_count, line_user_id, uploaded_at, updated_at\n  FROM contracts c\n  WHERE (($1::text IS NULL OR $1 = '')\n      OR LOWER(COALESCE(file_name,'')) LIKE '%' || LOWER($1) || '%'\n      OR LOWER(COALESCE(category,'')) LIKE '%' || LOWER($1) || '%'\n      OR LOWER(COALESCE(source,'')) LIKE '%' || LOWER($1) || '%'\n      OR LOWER(COALESCE(doc_no,'')) LIKE '%' || LOWER($1) || '%')\n    AND ($2::text IS NULL OR $2 = '' OR status = $2)\n  ORDER BY uploaded_at DESC\n  LIMIT $3::int OFFSET $4::int\n) real\nUNION ALL\nSELECT NULL::uuid, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, NULL, NULL, NULL\nWHERE NOT EXISTS (SELECT 1 FROM contracts)\nORDER BY 1 NULLS LAST","options":{"queryReplacement":"={{ [($json.query && $json.query.q) || null, ($json.query && $json.query.status) || null, parseInt(($json.query && $json.query.limit) || 200, 10), parseInt(($json.query && $json.query.offset) || 0, 10)] }}"}},"id":"pg-admin-list","name":"PG: Admin List","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[176,224],"credentials":{"postgres":{"id":"a70ff3bd-3863-49c2-b2d4-e74d97d77c01","name":"PG Contracts - localhost:5432"}}},{"parameters":{"operation":"executeQuery","query":"SELECT c.id, c.doc_no, c.file_name, c.file_type, c.category, c.status, c.source, c.size_bytes, c.chunk_count, c.line_user_id, c.line_group_id, c.line_message_id, c.uploaded_at, c.updated_at, (SELECT json_agg(json_build_object('id', ch.id, 'chunk_index', ch.chunk_index, 'preview', LEFT(ch.content, 200), 'token_count', ch.token_count) ORDER BY ch.chunk_index) FROM contract_chunks ch WHERE ch.contract_id = c.id) AS chunks FROM contracts c WHERE c.id = $1::uuid","options":{"queryReplacement":"={{ [$json.query.id] }}"}},"id":"pg-admin-get","name":"PG: Admin Get","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[176,448],"credentials":{"postgres":{"id":"a70ff3bd-3863-49c2-b2d4-e74d97d77c01","name":"PG Contracts - localhost:5432"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE contracts SET file_name = COALESCE(NULLIF($2, ''), file_name), category = NULLIF($3, ''), source = NULLIF($4, ''), status = COALESCE(NULLIF($5, ''), status), updated_at = now() WHERE id = $1::uuid RETURNING id, doc_no, file_name, file_type, category, status, source, size_bytes, chunk_count, line_user_id, uploaded_at, updated_at","options":{"queryReplacement":"={{ [$json.body.id, $json.body.file_name, $json.body.category, $json.body.source, $json.body.status] }}"}},"id":"pg-admin-update","name":"PG: Admin Update","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[176,672],"credentials":{"postgres":{"id":"a70ff3bd-3863-49c2-b2d4-e74d97d77c01","name":"PG Contracts - localhost:5432"}}},{"parameters":{"operation":"executeQuery","query":"DELETE FROM contracts\nWHERE id = $1::uuid\nRETURNING id, file_name, storage_bucket, storage_path,\n  CASE \n    WHEN storage_path LIKE 'http%' AND storage_path LIKE '%/' || storage_bucket || '/%'\n    THEN split_part(storage_path, '/' || storage_bucket || '/', 2)\n    ELSE NULL\n  END AS minio_key;","options":{"queryReplacement":"={{ [$json.body.id] }}"}},"id":"pg-admin-delete","name":"PG: Admin Delete","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[176,896],"credentials":{"postgres":{"id":"a70ff3bd-3863-49c2-b2d4-e74d97d77c01","name":"PG Contracts - localhost:5432"}}},{"parameters":{"operation":"executeQuery","query":"SELECT (SELECT COUNT(*) FROM contracts) AS total, (SELECT COUNT(*) FROM contracts WHERE status='ready') AS ready, (SELECT COUNT(*) FROM contracts WHERE status='pending') AS pending, (SELECT COUNT(*) FROM contracts WHERE status='failed') AS failed","options":{}},"id":"pg-admin-stats","name":"PG: Admin Stats","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[176,1120],"credentials":{"postgres":{"id":"a70ff3bd-3863-49c2-b2d4-e74d97d77c01","name":"PG Contracts - localhost:5432"}}},{"parameters":{"jsCode":"// Wrap list results - always output 1 item even if empty\nlet items = $input.all().map(i => i.json);\n// Filter out dummy rows (where id IS NULL)\nitems = items.filter(it => it && it.id != null);\nreturn [{json: {ok: true, action: 'list', count: items.length, data: items}}];"},"id":"wrap-list","name":"Wrap List","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,224]},{"parameters":{"jsCode":"// Wrap get result - returns null if no row found\nconst items = $input.all().map(i => i.json).filter(it => it && it.id != null);\nreturn [{json: {ok: items.length > 0, action: 'get', data: items[0] || null}}];"},"id":"wrap-get","name":"Wrap Get","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,448]},{"parameters":{"jsCode":"// Wrap update result\nconst items = $input.all().map(i => i.json);\nreturn [{json: {ok: true, action: 'update', data: items[0] || null}}];"},"id":"wrap-update","name":"Wrap Update","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,672]},{"parameters":{"jsCode":"// Wrap delete result\nconst items = $input.all().map(i => i.json);\nreturn [{json: {ok: true, action: 'delete', data: items[0] || null}}];"},"id":"wrap-delete","name":"Wrap Delete","type":"n8n-nodes-base.code","typeVersion":2,"position":[848,896]},{"parameters":{"jsCode":"// Wrap stats result - always output 1 item\nconst items = $input.all().map(i => i.json);\nreturn [{json: {ok: true, action: 'stats', data: items[0] || {total: 0, ready: 0, pending: 0, failed: 0}}}];"},"id":"wrap-stats","name":"Wrap Stats","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,1120]},{"parameters":{"jsCode":"// minio_key is computed in SQL (short string, ~26 chars, not ref-compressed).\n// Just copy it to _minio_key for MinIO Delete.\nconst data = $input.first().json;\nconst minioKey = data.minio_key;\nreturn [{\n  json: {\n    ...data,\n    _minio_bucket: data.storage_bucket,\n    _minio_key: minioKey,\n    _skip_minio_delete: !minioKey\n  }\n}];"},"id":"extract-minio-key-001","name":"Extract MinIO Key","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,896],"alwaysOutputData":true},{"parameters":{"operation":"delete","bucketName":"epsx-contracts","fileKey":"={{ $json._minio_key }}","options":{}},"id":"minio-delete-001","name":"MinIO Delete","type":"n8n-nodes-base.s3","typeVersion":1,"position":[624,896],"credentials":{"s3":{"id":"f719a9dd-b576-4cd5-bde6-13fb6344c447","name":"MinIO Contracts"}}},{"parameters":{"httpMethod":"GET","path":"admin-file","responseMode":"responseNode","options":{}},"id":"wh-admin-file","name":"Admin File","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[3500,480],"webhookId":"admin-file-webhook"},{"parameters":{"query":"SELECT id, file_name, file_type, file_mime, encode(file_data, 'base64') AS file_data_b64, octet_length(file_data) AS file_size, storage_bucket, storage_path FROM contracts WHERE id = '{{ $json.query.id }}'::uuid","options":{},"operation":"executeQuery"},"id":"pg-admin-file","name":"PG: Admin File","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[3700,480],"credentials":{"postgres":{"id":"a70ff3bd-3863-49c2-b2d4-e74d97d77c01","name":"PG Contracts - localhost:5432"}}},{"parameters":{"jsCode":"// Build binary file response for admin-file webhook.\n// Two paths:\n//   (A) file_data_b64 from PG bytea column (current — file stored in PG)\n//   (B) storage_path (MinIO URL) → re-fetch via helpers.request\nconst item = $input.first();\nconst json = item.json || {};\nconst mime = json.file_mime || (json.file_type === 'pdf' ? 'application/pdf' : 'application/octet-stream');\nconst fileName = json.file_name || 'document';\n\nif (json.file_data_b64) {\n  return [{\n    binary: {\n      data: {\n        data: json.file_data_b64,\n        mimeType: mime,\n        fileName: fileName,\n        fileSize: json.file_size || 0\n      }\n    }\n  }];\n}\n\nconst storagePath = json.storage_path;\nif (storagePath) {\n  try {\n    const response = await this.helpers.request({\n      method: 'GET',\n      url: storagePath,\n      encoding: null,\n      timeout: 15000,\n    });\n    const buffer = Buffer.isBuffer(response) ? response : Buffer.from(response);\n    return [{\n      binary: {\n        data: {\n          data: buffer.toString('base64'),\n          mimeType: mime,\n          fileName: fileName,\n          fileSize: buffer.length\n        }\n      }\n    }];\n  } catch (e) {\n    return [{json: {error: 'MinIO fetch failed: ' + e.message, storage_path: storagePath}}];\n  }\n}\n\nreturn [{json: {error: 'No file_data or storage_path for this contract'}}];\n","options":{}},"id":"wrap-file","name":"Wrap File","type":"n8n-nodes-base.code","typeVersion":2,"position":[3900,480]},{"parameters":{"options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Disposition","value":"inline; filename=\"document.pdf\""},{"name":"Cache-Control","value":"no-cache"}]}},"respondWith":"binary","responseBody":"={{ $binary.data }}"},"id":"resp-file","name":"Respond File","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[4100,480]}],"connections":{"Admin Get":{"main":[[{"node":"PG: Admin Get","type":"main","index":0}]]},"Admin List":{"main":[[{"node":"PG: Admin List","type":"main","index":0}]]},"Build HTML":{"main":[[{"node":"Respond UI","type":"main","index":0}]]},"Admin Stats":{"main":[[{"node":"PG: Admin Stats","type":"main","index":0}]]},"Admin Delete":{"main":[[{"node":"PG: Admin Delete","type":"main","index":0}]]},"Admin Update":{"main":[[{"node":"PG: Admin Update","type":"main","index":0}]]},"PG: Admin Get":{"main":[[{"node":"Wrap Get","type":"main","index":0}]]},"PG: Admin List":{"main":[[{"node":"Wrap List","type":"main","index":0}]]},"PG: Admin Stats":{"main":[[{"node":"Wrap Stats","type":"main","index":0}]]},"Admin UI Webhook":{"main":[[{"node":"Build HTML","type":"main","index":0}]]},"PG: Admin Delete":{"main":[[{"node":"Extract MinIO Key","type":"main","index":0}]]},"PG: Admin Update":{"main":[[{"node":"Wrap Update","type":"main","index":0}]]},"Extract MinIO Key":{"main":[[{"node":"MinIO Delete","type":"main","index":0}]]},"MinIO Delete":{"main":[[{"node":"Wrap Delete","type":"main","index":0}]]},"Admin File":{"main":[[{"node":"PG: Admin File","type":"main","index":0}]]},"PG: Admin File":{"main":[[{"node":"Wrap File","type":"main","index":0}]]},"Wrap File":{"main":[[{"node":"Respond File","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"nodeGroups":[],"pinData":{},"versionId":"8c117475-ec42-42fa-b54b-e9ec51d75fbd","activeVersionId":"8c117475-ec42-42fa-b54b-e9ec51d75fbd","versionCounter":1,"triggerCount":7,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-06-21T09:42:47.854Z","createdAt":"2026-06-21T09:42:47.854Z","role":"workflow:owner","workflowId":"AdM1nFlow12345678CD0cHub2","projectId":"40KI2a4v2OVG1X1W","project":{"updatedAt":"2026-06-21T09:00:40.953Z","createdAt":"2026-06-21T08:57:15.807Z","id":"40KI2a4v2OVG1X1W","name":"Admin User <admin@local.test>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"5c824990-2ef0-4078-80b0-3c09056f2f12"}}],"versionMetadata":{"name":null,"description":null}}]